<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroCamposObj" method="get" th:action="@{/admcampos}" th:object="${tabFiltroCamposObj}" >
		<div class="row"> 

<!-- SELECT -->
<div class="col-sm-6">
 <div class="form-group">
	<label for="cdTelaFiltro" class="blue"><strong>Tela</strong></label>
	 <select class="custom-select blue" id="cdTelaFiltro" th:field="*{cdTelaFiltro}">
    <option value="">...</option>
    <option th:each="scdtela : ${selectcdtela}" th:value="${scdtela.cdTela}" th:text="${scdtela.txTela}"></option>
  </select>
 </div>
</div>

<!-- SELECT -->
<div class="col-sm-6">
 <div class="form-group">
	<label for="cdGrupoVisaoFiltro" class="blue"><strong>GrupoVisao</strong></label>
	 <select class="custom-select blue" id="cdGrupoVisaoFiltro" th:field="*{cdGrupoVisaoFiltro}">
    <option value="">...</option>
    <option th:each="scdgrupovisao : ${selectcdgrupovisao}" th:value="${scdgrupovisao.cdGrupoVisao}" th:text="${scdgrupovisao.txGrupoVisao}"></option>
  </select>
 </div>
</div>

<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Campos</h4>  
</div>  
<a th:href="|/admcampos/novo/${cdTela}/${cdGrupoVisao}" id="idNovo">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong>Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Cód.Campo </th> 
                 <th class="bold disabled-sorting"> Campo </th> 
                 <th class="bold disabled-sorting"> Alterar </th> 
                 <th class="bold disabled-sorting"> Visualizar </th> 
                 <th class="disabled-sorting text-right bold"></th>
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}"> 
                 <td class="blue" th:text="${listdados.cdCampo}" th:onclick="|javascript: abrirtela('@{/admcampos/consultar}/${listdados.cdCampo}');|"> cdCampo </td> 
                 <td class="blue" th:text="${listdados.txObjCampo}" th:onclick="|javascript: abrirtela('@{/admcampos/consultar}/${listdados.cdCampo}');|"> txCampo </td> 
                 <td class="blue" th:text="${listdados.ckAlterar} == '1' ? 'SIM' : 'NÃO'" th:onclick="|javascript: abrirtela('@{/admcampos/consultar}/${listdados.cdCampo}');|"> ckAlterar </td> 
                 <td class="blue" th:text="${listdados.ckVisualizar} == '1' ? 'SIM' : 'NÃO'" th:onclick="|javascript: abrirtela('@{/admcampos/consultar}/${listdados.cdCampo}');|"> ckVisualizar </td> 
                 <td class="text-right">
						<a th:href="|javascript: showPergunta('Deseja excluir?','/admcampos/excluir/${listdados.cdCampo}','ajax','/admcampos');|" class="btn btn-round btn-danger btn-icon btn-sm remove"><i class="fas fa-times"></i></a>
                 </td> 
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabCamposObj" method="post" th:action="@{/admcampos}" th:object="${tabCamposObj}">
<div class="modal fade" id="admcampos" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 

  <input type="hidden" id="cdCampo" name="cdCampo"  th:field="*{cdCampo}"/>

  <input type="hidden" id="cdTela" name="cdTela"  th:value="${cdTela}"/>

  <input type="hidden" id="cdGrupoVisao" name="cdGrupoVisao"  th:value="${cdGrupoVisao}"/>


<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txObjCampo"><a class="blue" href="javascript: logField('TabCamposService','txObjCampo');"><strong>ObjCampo</strong></a></label>
  <input type="text" class="form-control" id="txObjCampo" name="txObjCampo"  th:field="*{txObjCampo}"/>
</div>
</div>

<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="ckAlterar"><a class="blue" href="javascript: logField('TabCamposService','ckAlterar');"><strong>Alterar</strong></a></label>
	 <select class="custom-select" id="ckAlterar" th:field="*{ckAlterar}">
    <option value="">...</option>
     <option value="1">SIM</option>
     <option value="2">NÃO</option>
  </select>
 </div>
</div>


<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="ckVisualizar"><a class="blue" href="javascript: logField('TabCamposService','ckVisualizar');"><strong>Visualizar</strong></a></label>
	 <select class="custom-select" id="ckVisualizar" th:field="*{ckVisualizar}">
    <option value="">...</option>
         <option value="1">SIM</option>
     <option value="2">NÃO</option>
  </select>
 </div>
</div>

</div> 
</div> 
	<div class="modal-footer"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/admcampos/gravarmodal}', '@{/admcampos}', '#admcampos', '#tabCamposObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
 
	
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#admcampos').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script> 
</section>
</html>
