<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroMenuSubObj" method="get" th:action="@{/admsubmenu}" th:object="${tabFiltroMenuSubObj}" >
		<div class="row"> 

<!-- SELECT -->
<div class="col-sm-6">
 <div class="form-group">
	<label for="cdMenuFiltro" class="blue"><strong>Menu</strong></label>
	 <select class="custom-select blue" id="cdMenuFiltro" th:field="*{cdMenuFiltro}">
    <option value="">...</option>
    <option th:each="scdmenu : ${selectcdmenu}" th:value="${scdmenu.cdMenu}" th:text="${scdmenu.txMenu}"></option>
  </select>
 </div>
</div>

<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Submenus</h4>  
</div>  
<a th:href="|/admsubmenu/novo/${cdMenu}|" id="idNovo">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong>Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Cód.SubMenu </th> 
                 <th class="bold disabled-sorting"> Ordem </th>
                 <th class="bold disabled-sorting"> Letra </th>                  
                 <th class="bold disabled-sorting"> SubMenu </th> 
                 <th class="bold disabled-sorting"> UrlPage </th> 
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}" th:onclick="|javascript: abrirtela('@{/admsubmenu/consultar}/${listdados.cdSubmenu}');|"> 
                 <td class="blue" th:text="${listdados.cdSubmenu}"> cdSubmenu </td> 
                 <td class="blue" th:text="${listdados.cdOrdem}"> cdOrdem </td> 
                 <td class="blue" th:text="${listdados.txMenuLetra}"> txMenuLetra </td> 
                 <td class="blue" th:text="${listdados.txSubMenu}"> txSubMenu </td> 
                 <td class="blue" th:text="${listdados.txUrlPage}"> txUrlPage </td> 
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabMenuSubObj" method="post" th:action="@{/admsubmenu}" th:object="${tabMenuSubObj}">
<div class="modal fade" id="admsubmenu" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 

  <input type="hidden" id="cdSubmenu" name="cdSubmenu"  th:field="*{cdSubmenu}"/>
  <input type="hidden" id="cdMenu" name="cdMenu"  th:value="${cdMenu}"/>

<!-- INPUT TEXT -->
<div class="col-sm-1">
<div class="form-group">
  <label for="cdOrdem"><a class="blue" href="javascript: logField('TabMenuSubService','cdOrdem');"><strong>Ordem</strong></a></label>
  <input type="text" class="form-control" id="cdOrdem" name="cdOrdem"  th:field="*{cdOrdem}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-1">
<div class="form-group">
  <label for="txMenuLetra"><a class="blue" href="javascript: logField('TabMenuSubService','txMenuLetra');"><strong>Letra</strong></a></label>
  <input type="text" class="form-control" id="txMenuLetra" name="txMenuLetra"  th:field="*{txMenuLetra}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txSubMenu"><a class="blue" href="javascript: logField('TabMenuSubService','txSubMenu');"><strong>SubMenu</strong></a></label>
  <input type="text" class="form-control" id="txSubMenu" name="txSubMenu"  th:field="*{txSubMenu}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txUrlPage"><a class="blue" href="javascript: logField('TabMenuSubService','txUrlPage');"><strong>UrlPage</strong></a></label>
  <input type="text" class="form-control" id="txUrlPage" name="txUrlPage"  th:field="*{txUrlPage}"/>
</div>
</div>

</div> 
</div> 
	<div class="modal-footer"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/admsubmenu/gravarmodal}', '@{/admsubmenu}', '#admsubmenu', '#tabMenuSubObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	var txEdit = /*[[${txEdit}]]*/; 
 	if (txEdit != null) { 
	 $('#admsubmenu').modal('show'); 
 	} 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 

 });
 /*]]>*/ 
</script> 
</section>
</html>
