<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Telas
								</h4>
						</div>
						<a href="/admtelas/novo" id="idNovo">
							<button type="button" class="btn btn-default float-right"
								style="margin: 25px 0px 0px; max-height: 37px; float: right;">
								<strong>Novo</strong>
							</button>
						</a>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Cod.Tela</th>
									<th class="bold disabled-sorting">Tela</th>									
									<th class="bold disabled-sorting">Service</th>									
									<th class="bold disabled-sorting">Controller</th>
									<th class="bold disabled-sorting">Alias Tela</th>
									<th class="bold disabled-sorting">Keyfield</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listdados : ${listadados}"
									th:onclick="|javascript: abrirtela('@{/admtelas/consultar}/${listdados.cdTela}');|">
									<td class="blue" th:text="${listdados.cdTela}">cdTela</td>
									<td class="blue" th:text="${listdados.txTela}">txTela</td>									
									<td class="blue" th:text="${listdados.txService}">
										txService</td>									
									<td class="blue" th:text="${listdados.txController}">
										txController</td>
									<td class="blue" th:text="${listdados.txAliasTela}">
										txAliasTela</td>
									<td class="blue" th:text="${listdados.txKeyfield}">
										txKeyfield</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="tabTelasObj" method="post" th:action="@{/admtelas}"
		th:object="${tabTelasObj}">
		<div class="modal fade" id="admtelas" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
							
										<input type="hidden" id="cdTela"
											name="cdTela" th:field="*{cdTela}" />

	
								<!-- INPUT TEXT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="txTela"><a class="blue"
											href="javascript: logField('TabTelasService','txTela');"><strong>Tela</strong></a></label>
										<input type="text" class="form-control" id="txTela"
											name="txTela" th:field="*{txTela}" />
									</div>
								</div>

	
								<!-- INPUT TEXT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="txService"><a class="blue"
											href="javascript: logField('TabTelasService','txService');"><strong>Service</strong></a></label>
										<input type="text" class="form-control" id="txService"
											name="txService" th:field="*{txService}" />
									</div>
								</div>
	
								<!-- INPUT TEXT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="txController"><a class="blue"
											href="javascript: logField('TabTelasService','txController');"><strong>Controller</strong></a></label>
										<input type="text" class="form-control" id="txController"
											name="txController" th:field="*{txController}" />
									</div>
								</div>

							<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="txAliasTela"><a class="blue"
											href="javascript: logField('TabTelasService','txAliasTela');"><strong>AliasTela</strong></a></label>
										<input type="text" class="form-control" id="txAliasTela"
											name="txAliasTela" th:field="*{txAliasTela}" />
									</div>
								</div>


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="txKeyfield"><a class="blue"
											href="javascript: logField('TabTelasService','txKeyfield');"><strong>Keyfield</strong></a></label>
										<input type="text" class="form-control" id="txKeyfield"
											name="txKeyfield" th:field="*{txKeyfield}" />
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="btnGravarModal"
								class="btn btn-primary col-sm-2"
								th:onclick="|javascript: gravarModal('@{/admtelas/gravarmodal}', '@{/admtelas}', '#admtelas', '#tabTelasObj');|">
								<strong>Gravar</strong>
							</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<strong>Sair</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
 
	  var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	var txEdit = /*[[${txEdit}]]*/; 
 	if (txEdit != null) { 
	 $('#admtelas').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 


 });
 /*]]>*/ 
</script>
</section>
</html>
