<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	    

	<div class="content" style="min-height: 530px">	
	   
        <div class="row">
          <div class="col-md-12">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/1}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon yellow">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotNovas}">859</h3>
                        <h6 class="stats-title" th:classappend="${classNovas}">Novas</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/8}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon yellow">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotNovasSlaVencidos}">859</h3>
                        <h6 class="stats-title" th:classappend="${classNovasSlaVencidos}">Novas SLA Vencidos</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/2}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-danger">
                          <i class="fas fa-phone-slash"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotRespostaSulamerica}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classRespostaSulamerica}">Alerta Contato</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/7}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon green">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotAbertoSemNovoContato}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classAbertoSemNovoContato}">Aberta sem Novo Contato</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/3}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon green">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotNovoContato}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classNovoContato}">Novo Contato</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/4}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon green">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotNovoContatoPosterior}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classNovoContatoPosterior}">Novo Contato Posterior</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/9}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-danger">
                          <i class="fas fa-phone-slash"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotSla5dias}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classSla5dias}">SLA 5 Dias</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/10}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-danger">
                          <i class="fas fa-phone-slash"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotSla10dias}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classSla10dias}">SLA > 5 até 10 Dias</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/11}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-danger">
                          <i class="fas fa-phone-slash"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotSla10diasMais}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classSla10diasMais}">SLA > 10 Dias</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/5}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-success">
                          <i class="fas fa-check"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotEncerradas}">562</h3>
                        <h6 class="stats-title" th:classappend="${classEncerradas}">Encerrado</h6>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/6}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-info">
                          <i class="fas fa-check-double"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotCancelados}">353</h3>
                        <h6 class="stats-title" th:classappend="${classCancelados}">Inativos</h6>
                      </div>
                    </div>
                  </div>  
                  <div class="col-md-2" th:onclick="|abrirtela('@{/pacientes/listarpacientes/12}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-info">
                          <img alt="" src="/assets/img/covid-19.png" width="50px" height="50px" />
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotCovid}">353</h3>  
                        <h6 class="stats-title" th:classappend="${classCovid}">Covid</h6>                      
                      </div>
                    </div>
                  </div>                                    
                </div>
              </div>
            </div>
          </div>
        </div>
        
  
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title blue bold" th:text="${titulotratativa}">DataTables.net</h4>
              </div>
              <div class="card-body">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="bold disabled-sorting" style="min-width: 200px">Nome</th>                      
                      <th class="bold disabled-sorting">Hospital</th>
                      <th class="bold disabled-sorting">Dt.Solicitação</th>
                      <th class="bold disabled-sorting">Dt.Novo Contato</th>
                      <th class="bold disabled-sorting"></th>
                      <th class="bold disabled-sorting">Tratativas</th>                      
                    </tr>
                  </thead>                  
                  <tbody>
                    <tr th:each="listPacientes : ${listaPacientes}" th:with="varTot=0" >                      
                      <td class="blue" th:text="${listPacientes.txNomeSegurado}">System Architect</td>                      
                      <td class="blue" th:text="${listPacientes.txPrestador}">61</td>
                      <td class="blue" th:text="${{listPacientes.dtDataSolicitacao}}">61</td>
                      <td class="blue" th:text="${{listPacientes.dtNovoContato}}">61</td>
                      <td class="blue" th:if="${listPacientes.cdCcCovid19} == null"></td>
                      <td class="blue" th:if="${listPacientes.cdCcCovid19} == 1"><img alt="" width="40px" height="40px" src="/assets/img/covid-19.png"/></td>
                      <td class="blue" th:if="${listPacientes.cdCcCovid19} == 2"><img alt="" width="40px" height="40px" src="/assets/img/covid-amarelo.png"/></td>
                      <td class="blue" th:if="${listPacientes.cdCcCovid19} == 3"><img alt="" width="40px" height="40px" src="/assets/img/covid-roxo.png"/></td>
                      <td class="blue"><div class="row"><div th:each="listTratativas : ${listPacientes.listaTratativas}"><a th:href="|/tratativacapa/consultar/${listTratativas.cdTratativa}|"><span class="btn btn-round btn-primary btn-icon btn-sm edit" th:if="${listTratativas.cdStatusTratativa} == null">T</span>
                      																					<span class="btn btn-round btn-primary btn-icon btn-sm edit" th:if="${listTratativas.cdStatusTratativa} == 1">T</span>
                      																					<span class="btn btn-round btn-success btn-icon btn-sm edit" th:if="${listTratativas.cdStatusTratativa} == 2">T</span>                      																					
                      																					<span class="btn btn-round btn-danger btn-icon btn-sm edit" th:if="${listTratativas.cdStatusTratativa} == 3">T</span>
                      																					</a></div></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->	
        	
	</div>
	
	
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 $(document).ready(function() {	
		 var cdTipo = /*[[${tipoMensagem}]]*/ 
		 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
 		 jtpNotify(/*[[${listaErros}]]*/);
 		 
			//Permissões 
			var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
			checkPermissaoBotao(listPermissaoBotao);

			var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
			checkPermissaoCampos(listPermissaoCampos); 

			//Service 
			var txService = /*[[${txService}]]*/; 
			analistaVirtual(txService); 
			var pathUrl = /*[[@{/}]]*/; 	

	 
	 });
 /*]]>*/ 
</script>	
	
  <script>
 
 
    $(document).ready(function() {
    	
     var printCounter = 0; 
     
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "ordering": false,
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        dom: 'Bfrtip',
        buttons:  [
            'copy',
            {
                extend: 'excel',
                messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
            },
            {
                extend: 'pdf',
                messageBottom: null
            },
            {
                extend: 'print',
                messageTop: function () {
                    printCounter++;
 
                    if ( printCounter === 1 ) {
                        return 'This is the first time you have printed this document.';
                    }
                    else {
                        return 'You have printed this document '+printCounter+' times';
                    }
                },
                messageBottom: null
            }
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      /*
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });
	*/

	// Delete a record
	/*
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
      */
      
    });
  </script>
	
	
	
</section>

</html>