<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	    

	<div class="content" style="min-height: 530px">	
	   
        <div class="row">
          <div class="col-md-12">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2" th:onclick="|abrirtela('@{/tratativas/listartratativas/2}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon yellow">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotNovas}">859</h3>
                        <h6 class="stats-title" th:classappend="${classNovas}">Novas</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/tratativas/listartratativas/3}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-danger">
                          <i class="fas fa-phone-slash"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotSemContato}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classSemContato}">Alerta Contato</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/tratativas/listartratativas/5}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon green">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotNovoContato}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classNovoContato}">Novo Contato</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/tratativas/listartratativas/6}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon green">
                          <i class="fas fa-phone"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotNovoContatoPosterior}">3,521</h3>
                        <h6 class="stats-title" th:classappend="${classNovoContatoPosterior}">Novo Contato Posterior</h6>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2" th:onclick="|abrirtela('@{/tratativas/listartratativas/1}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-success">
                          <i class="fas fa-check"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotComContato}">562</h3>
                        <h6 class="stats-title" th:classappend="${classContatoRealizado}">Contato Realizado</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2" th:onclick="|abrirtela('@{/tratativas/listartratativas/4}');|">
                    <div class="statistics">
                      <div class="info pointer">
                        <div class="icon icon-info">
                          <i class="fas fa-check-double"></i>
                        </div>
                        <h3 class="info-title blue" th:text="${vlTotInativos}">353</h3>
                        <h6 class="stats-title" th:classappend="${classInativos}">Inativos</h6>
                      </div>
                    </div>
                  </div>                                    
                </div>
              </div>
            </div>
          </div>
        </div>
        
  
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title blue bold" th:text="${titulotratativa}">DataTables.net</h4>
              </div>
              <div class="card-body">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="bold disabled-sorting">No.Tratativa</th>
                      <th class="bold disabled-sorting">Seq.</th>
                      <th class="bold disabled-sorting" style="min-width: 200px">Nome</th>
                      <th class="bold" data-field="dtDataSolicitacao">Dt.Solicitação</th>
                      <th class="bold disabled-sorting">SLA Tratativa</th>  
                      <th class="bold disabled-sorting">Dt.Novo Contato</th>                      
                      <th class="disabled-sorting text-right bold"></th>
                    </tr>
                  </thead>                  
                  <tbody>
                    <tr th:each="listtratativa : ${listatratativas}">
                      <td class="blue" th:text="${listtratativa.txTratativaId}">Tiger Nixon</td>
                      <td class="btn btn-round btn-primary btn-icon btn-sm edit" th:text="${listtratativa.cdSequencia}">teste</td>
                      <td class="blue" th:text="${listtratativa.txNomeSegurado}">System Architect</td>
                      <td class="blue" th:text="${{listtratativa.dtDataSolicitacao}}">61</td>
                      <td class="blue" th:text="${listtratativa.txSlaTratativa}">61</td>
                      <td class="blue" th:text="${{listtratativa.dtNovoContato}}">61</td>                     
                      <td class="text-right">
                        <a th:href="|javascript: abrirtela('@{/tratativa/consultar}/${listtratativa.cdCodigo}');|" class="btn btn-round btn-info btn-icon btn-sm edit"><i class="far fa-calendar-alt"></i></a>
						<a th:href="|/tratativas/excluir/${cdTipo}/${listtratativa.cdCodigo}|" class="btn btn-round btn-danger btn-icon btn-sm remove" th:if="${listtratativa.dtCancelamento} == null"><i class="fas fa-times"></i></a>
						<a th:href="|/tratativas/transferir/${cdTipo}/${listtratativa.cdCodigo}|" class="btn btn-round btn-success btn-icon btn-sm remove" th:if="${listtratativa.dtCancelamento} == null"><i class="fas fa-exchange-alt"></i></a>
                      
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->	
        	
	</div>
	
	
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 $(document).ready(function() {	
		 var cdTipo = /*[[${tipoMensagem}]]*/ 
		 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
 		 jtpNotify(/*[[${listaErros}]]*/);
 		 
 		var txEdit = /*[[${txEdit}]]*/; 
		 if (txEdit != null) { 
			 $('#viewtratativa').modal('show'); 
		 } 
		
			//Permissões 
			var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
			checkPermissaoBotao(listPermissaoBotao);

			var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
			checkPermissaoCampos(listPermissaoCampos); 

			//Service 
			var txService = /*[[${txService}]]*/; 
			analistaVirtual(txService); 
			var pathUrl = /*[[@{/}]]*/; 	
		
			
			
			

	 
	 });
 /*]]>*/ 
</script>	
	
  <script>
 
 
    $(document).ready(function() {
    	
     var printCounter = 0; 
     
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "ordering": false,
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        dom: 'Bfrtip',
        buttons:  [
            'copy',
            {
                extend: 'excel',
                messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
            },
            {
                extend: 'pdf',
                messageBottom: null
            },
            {
                extend: 'print',
                messageTop: function () {
                    printCounter++;
 
                    if ( printCounter === 1 ) {
                        return 'This is the first time you have printed this document.';
                    }
                    else {
                        return 'You have printed this document '+printCounter+' times';
                    }
                },
                messageBottom: null
            }
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      /*
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });
	*/

	// Delete a record
	/*
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
      */
      
    });
  </script>
	
	
	
</section>

</html>