<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="content" style="min-height: 530px">

		<div class="page-inner">
			<div class="page-section">
				<section id="base-style" class="card">
					<div class="card-body">
						<form id="tabRetornoConsultaTratativaObj" method="post"
							th:action="@{/tratativa/gravar}"
							th:object="${tabRetornoConsultaTratativaObj}">
							<fieldset>

								<!-- 
          <nav class="navbar bg-primary main-menu-jtp">
          	<ul>
          		<a th:href="@{/tratativa/novo}" id="linkNovo">
          			<li><span class="fas fa-plus-circle"></span> Novo</li>
          		</a>
          		<a href="javascript: gravar('tabRetornoConsultaTratativaObj');" id="linkGravar">
          			<li><span class="fas fa-save"></span> Gravar</li>
          		</a>
          	</ul>
          	<div class="form-group pesquisar-main-menu">
                	<input type="text" class="form-control pesquisar" placeholder="Pesquisar" id="txPesquisar"/>
          	</div>
          </nav>
 -->
								<div class="row">
									<div class="col-sm-6">
										<h5 class="blue bold">Dados do Paciente</h5>
									</div>
									<div class="col-sm-6">
										<div align="right">
											<a class="blue" th:href="|@{/tratativacapa/consultar}/${session.cdTratativa}|"><strong>Voltar</strong></a>
										</div>
									</div>
								</div>
								<hr></hr>
								<div class="row">

									<div class="col-sm-10">


										<div class="row" style="padding-top: 5px">

											<input type="hidden" id="cdCodigo" name="cdCodigo"
												readonly="readonly" th:field="*{cdCodigo}" />

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txTratativaId"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txTratativaId');"><strong>Tratativa
																Id</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txTratativaId"
														name="txTratativaId" readonly="readonly"
														th:field="*{txTratativaId}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label class="blue" for="txMsgId"><a
														class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txMsgId');"><strong>Msg
																Id</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txMsgId"
														name="txMsgId" readonly="readonly" th:field="*{txMsgId}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label class="blue" for="dtDataSolicitacao"><a
														class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataSolicitacao');"><strong>Dt.Solicitação</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="dtDataSolicitacao" name="dtDataSolicitacao"
														readonly="readonly" th:field="*{dtDataSolicitacao}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txAssunto"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txAssunto');"><strong>Assunto</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txAssunto" name="txAssunto" readonly="readonly"
														th:field="*{txAssunto}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txSlaTratativa"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txSlaTratativa');"><strong>SLA
																Tratativa</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txSlaTratativa"
														name="txSlaTratativa" readonly="readonly"
														th:field="*{txSlaTratativa}" />
												</div>
											</div>
										</div>

										<div class="row">

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txCodSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCodSegurado');"><strong>Cód.
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txCodSegurado"
														name="txCodSegurado" readonly="readonly"
														th:field="*{txCodSegurado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txNomeSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txNomeSegurado');"><strong>Nome
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txNomeSegurado"
														name="txNomeSegurado" readonly="readonly"
														th:field="*{txNomeSegurado}" />
												</div>
											</div>
											
											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txCpfSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCpfSegurado');"><strong>CPF
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txCpfSegurado"
														name="txCpfSegurado" readonly="readonly"
														th:field="*{txCpfSegurado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txCarteira"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCarteira');"><strong>Carteira</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txCarteira" name="txCarteira" readonly="readonly"
														th:field="*{txCarteira}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="dtDataNascimento"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataNascimento');"><strong>Dt.Nascimento</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="dtDataNascimento" name="dtDataNascimento"
														readonly="readonly" th:field="*{dtDataNascimento}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txSexo"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txSexo');"><strong>Sexo</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txSexo" name="txSexo" readonly="readonly"
														th:field="*{txSexo}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txNumVpp"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txNumVpp');"><strong>Num.
																VPP</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txNumVpp"
														name="txNumVpp" readonly="readonly" th:field="*{txNumVpp}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="dtDataIncioVpp"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataIncioVpp');"><strong>Dt.
																Início VPP</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="dtDataIncioVpp"
														name="dtDataIncioVpp" readonly="readonly"
														th:field="*{dtDataIncioVpp}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-4" th:if="*{txEmpresa} != null">
												<div class="form-group">
													<label for="txEmpresa"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txEmpresa');"><strong>Empresa</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txEmpresa" name="txEmpresa" readonly="readonly"
														th:field="*{txEmpresa}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-1">
												<div class="form-group">
													<label for="txEstado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txEstado');"><strong>Estado</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txEstado" name="txEstado" readonly="readonly"
														th:field="*{txEstado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-6" th:if="*{txPrestador} != null">
												<div class="form-group">
													<label for="txPrestador"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txPrestador');"><strong>Prestador</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txPrestador" name="txPrestador" readonly="readonly"
														th:field="*{txPrestador}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-6" th:if="*{txProdSaude} != null">
												<div class="form-group">
													<label for="txProdSaude"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txProdSaude');"><strong>Prod.
																Saúde</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txProdSaude"
														name="txProdSaude" readonly="readonly"
														th:field="*{txProdSaude}" />
												</div>
											</div>
										</div>

									</div>
									 
									 
									<div class="col-sm-2" th:with="codigo=*{cdCodigo}">

										<ul class="nav nav-pills nav-pills-primary flex-column"
											role="tablist">
											<li class="nav-item"
												th:each="listtratativa : ${listTratativaId}"><a
												class="nav-link "
												th:classappend="${codigo} == ${listtratativa.cdCodigo} ? 'active'"
												th:href="|@{/tratativa/consultar}/${listtratativa.cdCodigo}|"
												role="tablist">
													Mensagem</a></li>
										</ul>
									</div>  
								</div>

								<h5 class="blue bold">Telefones</h5>
								<hr></hr>
								<div class="row">
									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txTelCelular"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelCelular');"><strong>Tel.
														Celular</strong></a></label> <input type="text" class="form-control blue"
												id="txTelCelular" name="txTelCelular"
												th:field="*{txTelCelular}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelCobranca} != null">
										<div class="form-group">
											<label for="txTelCobranca"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelCobranca');"><strong>Tel.
														Cobrança</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelCobranca"
												name="txTelCobranca" readonly="readonly"
												th:field="*{txTelCobranca}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelComercial} != null">
										<div class="form-group">
											<label for="txTelComercial"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelComercial');"><strong>Tel.
														Comercial</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelComercial"
												name="txTelComercial" readonly="readonly"
												th:field="*{txTelComercial}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato} != null">
										<div class="form-group">
											<label for="txTelContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato');"><strong>Tel.
														Contato</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato"
												name="txTelContato" readonly="readonly"
												th:field="*{txTelContato}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato2} != null">
										<div class="form-group">
											<label for="txTelContato2"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato2');"><strong>Tel.
														Contato2</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato2"
												name="txTelContato2" readonly="readonly"
												th:field="*{txTelContato2}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato3} != null">
										<div class="form-group">
											<label for="txTelContato3"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato3');"><strong>Tel.
														Contato3</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato3"
												name="txTelContato3" readonly="readonly"
												th:field="*{txTelContato3}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelPrestador} != null">
										<div class="form-group">
											<label for="txTelPrestador"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelPrestador');"><strong>Tel.
														Prestador</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelPrestador"
												name="txTelPrestador" readonly="readonly"
												th:field="*{txTelPrestador}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelResencial} != null">
										<div class="form-group">
											<label for="txTelResencial"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelResencial');"><strong>Tel.
														Resencial</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelResencial"
												name="txTelResencial" readonly="readonly"
												th:field="*{txTelResencial}" />
										</div>
									</div>
								</div>

								<div class="row">

									<!-- INPUT TEXT -->
									<div class="col-sm-12">
										<div class="form-group">
											<label for="txMensagem"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txMensagem');"><strong>Mensagem
														- Sulamerica</strong></a></label>
											<textarea th:rows="${vlRows}" class="form-control blue"
												placeholder="" th:field="*{txMensagem}">Mensagem</textarea>
										</div>
									</div>
								</div>
								
								<input type="hidden" id="cdSequencia" name="cdSequencia"
										th:field="*{cdSequencia}" />

								<div id="divTipo2" th:if="*{cdTipo} != 10">
									
								<h5 style="padding-top: 20px" class="blue bold">Saudecare -
									1o Contato</h5>

								<div class="row">

									

									<!-- LOOKUP -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txCid2"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txCid2');"><strong>CID
														2</strong></a></label>
											<div class="input-group">
												<label class="input-group-prepend" for="txCid2"> <span
													class="input-group-text"> <span
														class="fas fa-search"></span>
												</span>
												</label> <input type="text" class="form-control" id="txDescCid2"
													name="txDescCid2" th:field="*{txDescCid2}"
													onchange="javascript: limpalookup('txDescCid2','txCid2');" />
												<input type="hidden" class="form-control" id="txCid2"
													name="txCid2" th:field="*{txCid2}" />
											</div>
										</div>
									</div>

									<!-- LOOKUP -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txCid3"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txCid3');"><strong>CID
														3</strong></a></label>
											<div class="input-group">
												<label class="input-group-prepend" for="txCid3"> <span
													class="input-group-text"> <span
														class="fas fa-search"></span>
												</span>
												</label> <input type="text" class="form-control" id="txDescCid3"
													name="txDescCid3" th:field="*{txDescCid3}"
													onchange="javascript: limpalookup('txDescCid3','txCid3');" />
												<input type="hidden" class="form-control" id="txCid3"
													name="txCid3" th:field="*{txCid3}" />
											</div>
										</div>
									</div>

								</div>
								<hr></hr>
								<h5 style="padding-top: 20px" class="blue bold">Status
									Clínico</h5>
								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdNivelConsciencia"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdNivelConsciencia');"><strong>Nível
														de consciência</strong></a></label> <select class="custom-select"
												id="cdNivelConsciencia" th:field="*{cdNivelConsciencia}">
												<option value="">...</option>
												<option
													th:each="scdnivelconsciencia : ${selectcdnivelconsciencia}"
													th:value="${scdnivelconsciencia.cdCodigo}"
													th:text="${scdnivelconsciencia.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdSinaisVitais"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdSinaisVitais');"><strong>Sinais
														vitais / Exames Básicos</strong></a></label> <select class="custom-select"
												id="cdSinaisVitais" th:field="*{cdSinaisVitais}">
												<option value="">...</option>
												<option th:each="scdsinaisvitais : ${selectcdsinaisvitais}"
													th:value="${scdsinaisvitais.cdCodigo}"
													th:text="${scdsinaisvitais.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>


								<hr></hr>
								<h5 style="padding-top: 20px" class="blue bold">Contexto
									Clínico</h5>
								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdCcGeral"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcGeral');"><strong>Geral</strong></a></label>
											<select class="custom-select" id="cdCcGeral"
												th:field="*{cdCcGeral}">
												<option value="">...</option>
												<option th:each="scdccgeral : ${selectcdccgeral}"
													th:value="${scdccgeral.cdCodigo}"
													th:text="${scdccgeral.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdCcOxigenoterapia"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcOxigenoterapia');"><strong>Oxigenoterapia</strong></a></label>
											<select class="custom-select" id="cdCcOxigenoterapia"
												th:field="*{cdCcOxigenoterapia}">
												<option value="">...</option>
												<option
													th:each="scdccoxigenoterapia : ${selectcdoxigenoterapia}"
													th:value="${scdccoxigenoterapia.cdCodigo}"
													th:text="${scdccoxigenoterapia.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcAspViasAereas"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcAspViasAereas');"><strong>Aspirações
														de vias aéreas ?</strong></a></label> <select class="custom-select"
												id="ckCcAspViasAereas" th:field="*{ckCcAspViasAereas}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdCcApsViasAereas"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcApsViasAereas');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcApsViasAereas"
												th:field="*{cdCcApsViasAereas}">
												<option value="">...</option>
												<option
													th:each="scdccapsviasaereas : ${selectcdccapsviasaereas}"
													th:value="${scdccapsviasaereas.cdCodigo}"
													th:text="${scdccapsviasaereas.txDescricao}"></option>
											</select>
										</div>
									</div>

								</div>
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcAcessoVenoso"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcAcessoVenoso');"><strong>Acesso
														Venoso ?</strong></a></label> <select class="custom-select"
												id="ckCcAcessoVenoso" th:field="*{ckCcAcessoVenoso}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdCcAcessoVenoso"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcAcessoVenoso');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcAcessoVenoso"
												th:field="*{cdCcAcessoVenoso}">
												<option value="">...</option>
												<option
													th:each="scdccacessovenoso : ${selectcdccacessovenoso}"
													th:value="${scdccacessovenoso.cdCodigo}"
													th:text="${scdccacessovenoso.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdCcAlimentacao"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcAlimentacao');"><strong>Alimentação</strong></a></label>
											<select class="custom-select" id="cdCcAlimentacao"
												th:field="*{cdCcAlimentacao}">
												<option value="">...</option>
												<option
													th:each="scdccalimentacao : ${selectcdccalimentacao}"
													th:value="${scdccalimentacao.cdCodigo}"
													th:text="${scdccalimentacao.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdCcCovid19"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcCovid19');"><strong>Covid-19</strong></a></label>
											<select class="custom-select" id="cdCcCovid19"
												th:field="*{cdCcCovid19}">
												<option value="">...</option>
												<option
													th:each="scdcccovid : ${selectcdcovid}"
													th:value="${scdcccovid.cdCovid}"
													th:text="${scdcccovid.txCovid}"></option>
											</select>
										</div>
									</div>
								</div>

								<h6 style="padding-top: 20px" class="blue bold">Eliminações
									Fisiológicas</h6>
								<div class="row">

									<div class="col-sm-12 col-sm-offset-1 checkbox-radios">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox" id="cdCcEfNormal"
													name="cdCcEfNormal"
													th:checked="*{cdCcEfNormal} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Normal
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcEfAusencia" name="cdCcEfAusencia"
													th:checked="*{cdCcEfAusencia} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Ausência de controle
													esfincteriano (fraldas)
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcEfControle" name="cdCcEfControle"
													th:checked="*{cdCcEfControle} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Controle esfincteriano, com
													uso de fraldas
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcEfColostomia" name="cdCcEfColostomia"
													th:checked="*{cdCcEfColostomia} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Colostomia
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcEfCistostomia" name="cdCcEfCistostomia"
													th:checked="*{cdCcEfCistostomia} == 'on' ? 'checked'" />
													<span class="form-check-sign"></span> Cistostomia
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcEfNefrostomia" name="cdCcEfNefrostomia"
													th:checked="*{cdCcEfNefrostomia} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Nefrostomia
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcEfSva" name="cdCcEfSva"
													th:checked="*{cdCcEfSva} == 'on' ? 'checked'" />
													<span class="form-check-sign"></span> SVA
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcEfSvd" name="cdCcEfSvd"
													th:checked="*{cdCcEfSvd} == 'on' ? 'checked'" />
													<span class="form-check-sign"></span> SVD
												</label>
											</div>
										</div>
									</div>
								</div>

								<h6 style="padding-top: 20px" class="blue bold">Medicamentos
									em uso</h6>
								<div class="row">

									<div class="col-sm-12 col-sm-offset-1 checkbox-radios">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcMuHabituais" name="cdCcMuHabituais"
													th:checked="*{cdCcMuHabituais} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Habituais sem novos
													medicamentos
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox" id="cdCcMuNovos"
													name="cdCcMuNovos"
													th:checked="*{cdCcMuNovos} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Novos medicamentos VO / SNE
													/ GTT
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcMuParenteral" name="cdCcMuParenteral"
													th:checked="*{cdCcMuParenteral} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Medicamentos via Parenteral
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox"
													id="cdCcMuHipodermoclise" name="cdCcMuHipodermoclise"
													th:checked="*{cdCcMuHipodermoclise} == 'on' ? 'checked'" />
													<span class="form-check-sign"></span> Medicamentos via
													Hipodermóclise
												</label>
											</div>
										</div>
									</div>
								</div>
								<hr></hr>
								<h6 style="padding-top: 20px" class="blue bold">Medicamentos
									Específicos</h6>
								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcMeAnticoagulantes"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcMeAnticoagulantes');"><strong>Anticoagulantes
														?</strong></a></label> <select class="custom-select" id="ckCcMeAnticoagulantes"
												th:field="*{ckCcMeAnticoagulantes}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>


									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdCcMeAnticoagulantes"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcMeAnticoagulantes');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcMeAnticoagulantes"
												th:field="*{cdCcMeAnticoagulantes}">
												<option value="">...</option>
												<option
													th:each="scdccmeanticoagulantes : ${selectcdccmeanticoagulantes}"
													th:value="${scdccmeanticoagulantes.cdCodigo}"
													th:text="${scdccmeanticoagulantes.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcMeAntibiotico"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcMeAntibiotico');"><strong>Antibiótico
														?</strong></a></label> <select class="custom-select" id="ckCcMeAntibiotico"
												th:field="*{ckCcMeAntibiotico}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>


									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdCcMeAntibiotico"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcMeAntibiotico');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcMeAntibiotico"
												th:field="*{cdCcMeAntibiotico}">
												<option value="">...</option>
												<option
													th:each="scdccmeantibiotico : ${selectcdccmeantibiotico}"
													th:value="${scdccmeantibiotico.cdCodigo}"
													th:text="${scdccmeantibiotico.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcMeQuimioterapicos"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcMeQuimioterapicos');"><strong>Quimioterapicos
														?</strong></a></label> <select class="custom-select" id="ckCcMeQuimioterapicos"
												th:field="*{ckCcMeQuimioterapicos}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>


									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdCcMeQuimioterapicos"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcMeQuimioterapicos');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcMeQuimioterapicos"
												th:field="*{cdCcMeQuimioterapicos}">
												<option value="">...</option>
												<option
													th:each="scdccmequimioterapicos : ${selectcdccmequimioterapicos}"
													th:value="${scdccmequimioterapicos.cdCodigo}"
													th:text="${scdccmequimioterapicos.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcMeInicioQuimioterapicos"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcMeInicioQuimioterapicos');"><strong>Dt.Início</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcMeInicioQuimioterapicos"
												name="dtCcMeInicioQuimioterapicos"
												th:field="*{dtCcMeInicioQuimioterapicos}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcMeFimQuimioterapicos"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcMeFimQuimioterapicos');"><strong>Dt.Fim</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcMeFimQuimioterapicos"
												name="dtCcMeFimQuimioterapicos"
												th:field="*{dtCcMeFimQuimioterapicos}" />
										</div>
									</div>
								</div>


								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcMeImunoglobulinas"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcMeImunoglobulinas');"><strong>Imunoglobulinas
														?</strong></a></label> <select class="custom-select" id="ckCcMeImunoglobulinas"
												th:field="*{ckCcMeImunoglobulinas}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdCcMeImunoglobulinas"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcMeImunoglobulinas');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcMeImunoglobulinas"
												th:field="*{cdCcMeImunoglobulinas}">
												<option value="">...</option>
												<option
													th:each="scdccmeimunoglobulinas : ${selectcdccmeimunoglobulinas}"
													th:value="${scdccmeimunoglobulinas.cdCodigo}"
													th:text="${scdccmeimunoglobulinas.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcMeInicioImunoglobulinas"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcMeInicioImunoglobulinas');"><strong>Dt.Início</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcMeInicioImunoglobulinas"
												name="dtCcMeInicioImunoglobulinas"
												th:field="*{dtCcMeInicioImunoglobulinas}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcMeFimImunoglobulinas"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcMeFimImunoglobulinas');"><strong>Dt.Fim</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcMeFimImunoglobulinas"
												name="dtCcMeFimImunoglobulinas"
												th:field="*{dtCcMeFimImunoglobulinas}" />
										</div>
									</div>
								</div>
								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcMeImunobiologico"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcMeImunobiologico');"><strong>Imunobiologico
														?</strong></a></label> <select class="custom-select" id="ckCcMeImunobiologico"
												th:field="*{ckCcMeImunobiologico}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdCcMeImunobiologico"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcMeImunobiologico');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcMeImunobiologico"
												th:field="*{cdCcMeImunobiologico}">
												<option value="">...</option>
												<option
													th:each="scdccmeimunobiologico : ${selectcdccmeimunobiologico}"
													th:value="${scdccmeimunobiologico.cdCodigo}"
													th:text="${scdccmeimunobiologico.txDescricao}"></option>
											</select>
										</div>
									</div>
									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcMeInicioImunobiologico"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcMeInicioImunobiologico');"><strong>Dt.Início</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcMeInicioImunobiologico"
												name="dtCcMeInicioImunobiologico"
												th:field="*{dtCcMeInicioImunobiologico}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcMeFimImunobiologico"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcMeFimImunobiologico');"><strong>Dt.Fim</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcMeFimImunobiologico" name="dtCcMeFimImunobiologico"
												th:field="*{dtCcMeFimImunobiologico}" />
										</div>
									</div>
								</div>

								<hr></hr>
								<h6 style="padding-top: 20px" class="blue bold">Radioterapia
									Atual / Concomitante</h6>
								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcRadioterapia"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcRadioterapia');"><strong>Radioterapia
														Atual / Concomitante ?</strong></a></label> <select class="custom-select"
												id="ckCcRadioterapia" th:field="*{ckCcRadioterapia}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdCcRadioterapia"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcRadioterapia');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcRadioterapia"
												th:field="*{cdCcRadioterapia}">
												<option value="">...</option>
												<option
													th:each="scdccradioterapia : ${selectcdccradioterapia}"
													th:value="${scdccradioterapia.cdCodigo}"
													th:text="${scdccradioterapia.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcInicioRadioterapia"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcInicioRadioterapia');"><strong>Dt.Início</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcInicioRadioterapia" name="dtCcInicioRadioterapia"
												th:field="*{dtCcInicioRadioterapia}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcFimRadioterapia"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcFimRadioterapia');"><strong>Dt.Fim</strong></a></label>
											<input type="text" class="form-control jtpDate"
												id="dtCcFimRadioterapia" name="dtCcFimRadioterapia"
												th:field="*{dtCcFimRadioterapia}" />
										</div>
									</div>
								</div>

								<hr></hr>
								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcVos"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcVos');"><strong>Curativo
														?</strong></a></label> <select class="custom-select" id="ckCcVos"
												th:field="*{ckCcVos}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="cdCcVos"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcVos');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcVos"
												th:field="*{cdCcVos}">
												<option value="">...</option>
												<option th:each="scdccvos : ${selectcdccvos}"
													th:value="${scdccvos.cdCodigo}"
													th:text="${scdccvos.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txCcVosObs"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txCcVosObs');"><strong>Descrição</strong></a></label>
											<input type="text" class="form-control" id="txCcVosObs"
												name="txCcVosObs" th:field="*{txCcVosObs}" />
										</div>
									</div>
								</div>

								<hr></hr>
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcEqMultiprofissional"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcEqMultiprofissional');"><strong>Equipe
														Multiprofissional ?</strong></a></label> <select class="custom-select"
												id="ckCcEqMultiprofissional"
												th:field="*{ckCcEqMultiprofissional}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdCcEqMultiprofissional"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcEqMultiprofissional');"><strong>Qual
														?</strong></a></label> <select class="custom-select"
												id="cdCcEqMultiprofissional"
												th:field="*{cdCcEqMultiprofissional}">
												<option value="">...</option>
												<option
													th:each="scdcceqmultiprofissional : ${selectcdcceqmultiprofissional}"
													th:value="${scdcceqmultiprofissional.cdCodigo}"
													th:text="${scdcceqmultiprofissional.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckCcOhb"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckCcOhb');"><strong>OHB
														?</strong></a></label> <select class="custom-select" id="ckCcOhb"
												th:field="*{ckCcOhb}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-3">
										<div class="form-group">
											<label for="cdCcOhb"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcOhb');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdCcOhb"
												th:field="*{cdCcOhb}">
												<option value="">...</option>
												<option th:each="scdccohb : ${selectcdccohb}"
													th:value="${scdccohb.cdCodigo}"
													th:text="${scdccohb.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-3">
										<div class="form-group">
											<label for="cdCcOhbExterna"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcOhbExterna');"><strong>OHB
														Externa</strong></a></label> <select class="custom-select" id="cdCcOhbExterna"
												th:field="*{cdCcOhbExterna}">
												<option value="">...</option>
												<option th:each="scdccohbexterna : ${selectcdccohbexterna}"
													th:value="${scdccohbexterna.cdCodigo}"
													th:text="${scdccohbexterna.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcOhbInicio"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcOhbInicio');"><strong>Dt.Início</strong></a></label>
											<input type="text" class="form-control" id="dtCcOhbInicio"
												name="dtCcOhbInicio" th:field="*{dtCcOhbInicio}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtCcOhbFim"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtCcOhbFim');"><strong>Dt.Fim</strong></a></label>
											<input type="text" class="form-control" id="dtCcOhbFim"
												name="dtCcOhbFim" th:field="*{dtCcOhbFim}" />
										</div>
									</div>
								</div>

								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-5">
										<div class="form-group">
											<label for="cdCcImppressaoGeral"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdCcImppressaoGeral');"><strong>Impressão
														Geral</strong></a></label> <select class="custom-select"
												id="cdCcImppressaoGeral" th:field="*{cdCcImppressaoGeral}">
												<option value="">...</option>
												<option
													th:each="scdccimppressaogeral : ${selectcdccimppressaogeral}"
													th:value="${scdccimppressaogeral.cdCodigo}"
													th:text="${scdccimppressaogeral.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>

								<hr></hr>
								<h5 style="padding-top: 20px" class="blue bold">Programação
									Terapêutica</h5>
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckPtMedicoAcredita"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckPtMedicoAcredita');"><strong>O
														médico acredita que há condições clínicas para a alta
														hospitalar ?</strong></a></label> <select class="custom-select"
												id="ckPtMedicoAcredita" th:field="*{ckPtMedicoAcredita}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckPtMedicoDeacordo"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckPtMedicoDeacordo');"><strong>Está
														de acordo com a conduta médica para desospitalização ?</strong></a></label> <select
												class="custom-select" id="ckPtMedicoDeacordo"
												th:field="*{ckPtMedicoDeacordo}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckPtMedicoProximasEtapas"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckPtMedicoProximasEtapas');"><strong>Saberia
														dizer as próximas etapas para que possa receber alta
														hospitalar ?</strong></a></label> <select class="custom-select"
												id="ckPtMedicoProximasEtapas"
												th:field="*{ckPtMedicoProximasEtapas}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txPtMedicoProximasEtapas"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txPtMedicoProximasEtapas');"><strong>Quais
														?</strong></a></label> <input type="text" class="form-control"
												id="txPtMedicoProximasEtapas"
												name="txPtMedicoProximasEtapas"
												th:field="*{txPtMedicoProximasEtapas}" />
										</div>
									</div>
								</div>

								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdPtMedicoExpectativas"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdPtMedicoExpectativas');"><strong>Expectativas
														para a alta hospitalar</strong></a></label> <select class="custom-select"
												id="cdPtMedicoExpectativas"
												th:field="*{cdPtMedicoExpectativas}">
												<option value="">...</option>
												<option
													th:each="scdptmedicoexpectativas : ${selectcdptmedicoexpectativas}"
													th:value="${scdptmedicoexpectativas.cdCodigo}"
													th:text="${scdptmedicoexpectativas.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckPtMedicoAlgumProcedimento"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckPtMedicoAlgumProcedimento');"><strong>Algum
														procedimento ou terapia ainda pendente para realização ?</strong></a></label> <select
												class="custom-select" id="ckPtMedicoAlgumProcedimento"
												th:field="*{ckPtMedicoAlgumProcedimento}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txPtMedicoAlgumProcedimento"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txPtMedicoAlgumProcedimento');"><strong>Qual
														?</strong></a></label> <input type="text" class="form-control"
												id="txPtMedicoAlgumProcedimento"
												name="txPtMedicoAlgumProcedimento"
												th:field="*{txPtMedicoAlgumProcedimento}" />
										</div>
									</div>
								</div>

								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckPtMedicoCienciaRecursos"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckPtMedicoCienciaRecursos');"><strong>Tem
														ciência dos recursos equipe multi/equipamento/mobiliários
														para desospitalização ?</strong></a></label> <select class="custom-select"
												id="ckPtMedicoCienciaRecursos"
												th:field="*{ckPtMedicoCienciaRecursos}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdPtMedicoCienciaRecursos"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdPtMedicoCienciaRecursos');"><strong>Qual
														?</strong></a></label> <select class="custom-select"
												id="cdPtMedicoCienciaRecursos"
												th:field="*{cdPtMedicoCienciaRecursos}">
												<option value="">...</option>
												<option
													th:each="scdptmedicocienciarecursos : ${selectcdptmedicocienciarecursos}"
													th:value="${scdptmedicocienciarecursos.cdCodigo}"
													th:text="${scdptmedicocienciarecursos.txDescricao}"></option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="row" style="padding-top: 10px">

									<div class="col-sm-12 col-sm-offset-1 checkbox-radios">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox" id="cdPtMedicoHomecare"
													name="cdPtMedicoHomecare"
													th:checked="*{cdPtMedicoHomecare} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Home Care 
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox" id="cdPtMedicoAtb"
													name="cdPtMedicoAtb"
													th:checked="*{cdPtMedicoAtb} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> ATB em uso e ATB para Home Care
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox" id="cdPtMedicoReabilitacao"
													name="cdPtMedicoReabilitacao"
													th:checked="*{cdPtMedicoReabilitacao} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Provavel reabilitação e cuidados em casa
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox" id="cdPtMedicoCuidadosCasa"
													name="cdPtMedicoCuidadosCasa"
													th:checked="*{cdPtMedicoCuidadosCasa} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Cuidados Paliativos em casa
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label"> <input
													class="form-check-input" type="checkbox" id="cdPtMedicoSemIndicacaoHospitalar"
													name="cdPtMedicoSemIndicacaoHospitalar"
													th:checked="*{cdPtMedicoSemIndicacaoHospitalar} == 'on' ? 'checked'" /> <span
													class="form-check-sign"></span> Sem indicação de internação hospitalar e assistência
												</label>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row" style="padding-top: 20px">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckPtMedicoFidelizado"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckPtMedicoFidelizado');"><strong>Possui médico fidelizado ?</strong></a></label> <select class="custom-select"
												id="ckPtMedicoFidelizado"
												th:field="*{ckPtMedicoFidelizado}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>
									
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckPtMedicoIndicarAcompanhamento"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckPtMedicoIndicarAcompanhamento');"><strong>Podemos indicar médico para acompanhamento em rede ?</strong></a></label> <select class="custom-select"
												id="ckPtMedicoIndicarAcompanhamento"
												th:field="*{ckPtMedicoIndicarAcompanhamento}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>
									</div>

								<hr></hr>
								<h5 style="padding-top: 20px" class="blue bold">Dinâmica
									Social</h5>
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="ckDsAlgumApontamento"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckDsAlgumApontamento');"><strong>Algum
														apontamento específico que inviabilize ou dificulte a
														desospitalização ?</strong></a></label> <select class="custom-select"
												id="ckDsAlgumApontamento" th:field="*{ckDsAlgumApontamento}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txDsAlgumApontamento"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txDsAlgumApontamento');"><strong>Qual
														?</strong></a></label> <input type="text" class="form-control"
												id="txDsAlgumApontamento" name="txDsAlgumApontamento"
												th:field="*{txDsAlgumApontamento}" />
										</div>
									</div>
								</div>
								<hr></hr>
								<h6 style="padding-top: 20px" class="blue bold">Número de
									pessoas com quem reside</h6>
								<div class="row">
									<div class="form-check">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox" id="ckDsEsposo"
											name="ckDsEsposo"
											th:checked="*{ckDsEsposo} == 'on' ? 'checked'" /> <span
											class="form-check-sign"></span> Esposo(a)
										</label>
									</div>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox" id="ckDsFilho"
											name="ckDsFilho"
											th:checked="*{ckDsFilho} == 'on' ? 'checked'" /> <span
											class="form-check-sign"></span> Filho(a)
										</label>
									</div>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox" id="ckDsPai"
											name="ckDsPai" th:checked="*{ckDsPai} == 'on' ? 'checked'" />
											<span class="form-check-sign"></span> Pai
										</label>
									</div>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox" id="ckDsMae"
											name="ckDsMae" th:checked="*{ckDsMae} == 'on' ? 'checked'" />
											<span class="form-check-sign"></span> Mãe
										</label>
									</div>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox" id="ckDsIrmao"
											name="ckDsIrmao"
											th:checked="*{ckDsIrmao} == 'on' ? 'checked'" /> <span
											class="form-check-sign"></span> Irmão(ã)
										</label>
									</div>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox" id="ckDsSogro"
											name="ckDsSogro"
											th:checked="*{ckDsSogro} == 'on' ? 'checked'" /> <span
											class="form-check-sign"></span> Sogro(a)
										</label>
									</div>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox" id="ckDsOutros"
											name="ckDsOutros"
											th:checked="*{ckDsOutros} == 'on' ? 'checked'" /> <span
											class="form-check-sign"></span> Outros
										</label>
									</div>
								</div>
								<hr></hr>

								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckDsCuidador"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckDsCuidador');"><strong>Cuidador
														?</strong></a></label> <select class="custom-select" id="ckDsCuidador"
												th:field="*{ckDsCuidador}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>


									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="cdDsCuidador"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdDsCuidador');"><strong>Qual
														?</strong></a></label> <select class="custom-select" id="cdDsCuidador"
												th:field="*{cdDsCuidador}">
												<option value="">...</option>
												<option th:each="scddscuidador : ${selectcddscuidador}"
													th:value="${scddscuidador.cdCodigo}"
													th:text="${scddscuidador.txDescricao}"></option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txDsCuidadorParentesco"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txDsCuidadorParentesco');"><strong>Parentesco</strong></a></label>
											<input type="text" class="form-control"
												id="txDsCuidadorParentesco" name="txDsCuidadorParentesco"
												th:field="*{txDsCuidadorParentesco}" />
										</div>
									</div>


									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="cdDsIdade"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdDsIdade');"><strong>Idade</strong></a></label>
											<input type="text" class="form-control" id="cdDsIdade"
												name="cdDsIdade" th:field="*{cdDsIdade}" />
										</div>
									</div>


								</div>
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="ckDsPendenciaFamiliar"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','ckDsPendenciaFamiliar');"><strong>Pendência
														Familiar ?</strong></a></label> <select class="custom-select"
												id="ckDsPendenciaFamiliar"
												th:field="*{ckDsPendenciaFamiliar}">
												<option value="">...</option>
												<option value="1">SIM</option>
												<option value="2">NÃO</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txDsPendenciaFamiliar"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txDsPendenciaFamiliar');"><strong>Qual
														?</strong></a></label> <input type="text" class="form-control"
												id="txDsPendenciaFamiliar" name="txDsPendenciaFamiliar"
												th:field="*{txDsPendenciaFamiliar}" />
										</div>
									</div>
								</div>

								<h6 style="padding-top: 20px" class="blue bold">Problemas encontrados</h6>
								<div class="row">
									<!-- SELECT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="cdProbEncontrados"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdProbEncontrados');"><strong>Problemas encontrados
														</strong></a></label> <select class="custom-select"
												id="cdProbEncontrados"
												th:field="*{cdProbEncontrados}">
												<option value="">...</option>
												<option th:each="scdprobencontrados : ${selectcdprobencontrados}"
													th:value="${scdprobencontrados.cdProb}"
													th:text="${scdprobencontrados.txProb}"></option>
											</select>
										</div>
									</div>

									
								</div>

								<h5 style="padding-top: 20px" class="light-blue bold">Saudecare
									- Atualização da Tratativa</h5>

								<h5 style="padding-top: 20px" class="blue bold">Contato /
									Responsável</h5>
								<div class="row">

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txNomeResponsavel"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txNomeResponsavel');"><strong>Nome
														Responsável</strong></a></label> <input type="text" class="form-control"
												id="txNomeResponsavel" name="txNomeResponsavel"
												th:field="*{txNomeResponsavel}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txEmailResponsavel"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txEmailResponsavel');"><strong>Email
														Responsável</strong></a></label> <input type="text" class="form-control"
												id="txEmailResponsavel" name="txEmailResponsavel"
												th:field="*{txEmailResponsavel}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txNomeContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txNomeContato');"><strong>Nome
														Contato</strong></a></label> <input type="text" class="form-control"
												id="txNomeContato" name="txNomeContato"
												th:field="*{txNomeContato}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txGrauParentesco"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txGrauParentesco');"><strong>Grau
														Parentesco</strong></a></label> <select class="custom-select"
												id="txGrauParentesco" th:field="*{txGrauParentesco}">
												<option value="">...</option>
												<option value="Cuidador">Cuidador</option>
												<option value="Enfermeira(o)">Enfermeira(o)</option>
												<option value="Esposo(a)">Esposo(a)</option>
												<option value="Familiares">Familiares</option>
												<option value="Filho(a)">Filho(a)</option>
												<option value="Paciente">Paciente</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txRealizouContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txRealizouContato');"><strong>Realizou
														Contato?</strong></a></label> <select class="custom-select"
												id="txRealizouContato" th:field="*{txRealizouContato}">
												<option value="">...</option>
												<option value="SIM">SIM</option>
												<option value="NÃO">NÃO</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txMotivoNaoContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txMotivoNaoContato');"><strong>Motivo
														não Contato</strong></a></label> <select class="custom-select"
												id="txMotivoNaoContato" th:field="*{txMotivoNaoContato}">
												<option value="">...</option>
												<option value="CHAMA E NÃO ATENDE">CHAMA E NÃO
													ATENDE</option>
												<option value="FALTA DE CADASTRO DO TELEFONE">FALTA
													DE CADASTRO DO TELEFONE</option>
												<option value="HOSPITAL NÃO FORNECE INFORMAÇÕES">HOSPITAL
													NÃO FORNECE INFORMAÇÕES</option>
												<option value="PACIENTE NÃO SE ENCONTRA NO HOSPITAL">PACIENTE
													NÃO SE ENCONTRA NO HOSPITAL</option>
											</select>
										</div>
									</div>


									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtPrimContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtPrimContato');"><strong>Dt.
														1o. Contato</strong></a></label> <input type="text"
												class="form-control jtpDate" id="dtPrimContato"
												name="dtPrimContato" th:field="*{dtPrimContato}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txTelHospital"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelHospital');"><strong>Tel.
														Contato</strong></a></label> <input type="text" class="form-control"
												id="txTelHospital" name="txTelHospital"
												th:field="*{txTelHospital}" />
										</div>
									</div>


								</div>

								<hr></hr>
								<h5 class="blue bold">Triagem / Internação</h5>

								<div class="row">

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtInternacao"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtInternacao');"><strong>Dt.
														Internação</strong></a></label> <input type="text" class="form-control jtpDate"
												id="dtInternacao" name="dtInternacao"
												th:field="*{dtInternacao}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txTipoInternacao"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTipoInternacao');"><strong>Tipo
														Internação</strong></a></label> <select class="custom-select"
												id="txTipoInternacao" th:field="*{txTipoInternacao}">
												<option value="">...</option>
												<option value="EMERGENCIAL">EMERGENCIAL</option>
												<option value="ELETIVA">ELETIVA</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txTipoAcomodacao"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTipoAcomodacao');"><strong>Tipo
														Acomodação</strong></a></label> <input type="text" class="form-control"
												id="txTipoAcomodacao" name="txTipoAcomodacao"
												th:field="*{txTipoAcomodacao}" />
										</div>
									</div>




									<!-- INPUT TEXT -->
									<div class="col-sm-3">
										<div class="form-group">
											<label for="txCondTriagem"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txCondTriagem');"><strong>Cond.
														Triagem</strong></a></label> <select class="custom-select" id="txCondTriagem"
												th:field="*{txCondTriagem}">
												<option value="">...</option>
												<option value="ALTA">ALTA</option>
												<option value="ALTA ADMINISTRATIVA">ALTA
													ADMINISTRATIVA</option>
												<option value="ÓBITO">ÓBITO</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-3">
										<div class="form-group">
											<label for="txDesfecho"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txDesfecho');"><strong>Desfecho</strong></a></label>
											<select class="custom-select" id="txDesfecho"
												th:field="*{txDesfecho}">
												<option value="">...</option>
												<option value="AGILIDADE NA VALIDAÇÃO">AGILIDADE NA
													VALIDAÇÃO</option>
												<option value="ALTA">ALTA</option>
												<option value="ALTA ADMINISTRATIVA">ALTA
													ADMINISTRATIVA</option>
												<option value="DESOSPITALIZAÇÃO">DESOSPITALIZAÇÃO</option>
												<option value="ÓBITO">ÓBITO</option>
											</select>
										</div>
									</div>

<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtDesfecho"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtDesfecho');"><strong>Dt.Desfecho</strong></a></label>
											<input type="text" class="form-control jtpDate" id="dtDesfecho"
												name="dtDesfecho" th:field="*{dtDesfecho}" />
										</div>
									</div>


									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txMedico"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txMedico');"><strong>Médico</strong></a></label>
											<input type="text" class="form-control" id="txMedico"
												name="txMedico" th:field="*{txMedico}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txCid"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txCid');"><strong>No.
														Cid</strong></a></label> <input type="text" class="form-control" id="txCid"
												name="txCid" th:field="*{txCid}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txDescCid"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txDescCid');"><strong>Descrição
														Cid</strong></a></label> <input type="text" class="form-control" id="txDescCid"
												name="txDescCid" th:field="*{txDescCid}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txMotivoAlta"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txMotivoAlta');"><strong>Motivo
														Alta</strong></a></label> <select class="custom-select" id="txMotivoAlta"
												th:field="*{txMotivoAlta}">
												<option value="">...</option>
												<option value="MELHORA QUADRO CLÍNICO">MELHORA
													QUADRO CLÍNICO</option>
												<option value="ÓBITO">ÓBITO</option>
												<option value="ASSISTÊNCIA DOMICILIAR">ASSISTÊNCIA
													DOMICILIAR</option>
												<option value="ALTA ADMINISTRATIVA">ALTA
													ADMINISTRATIVA</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txTipoAssistencia"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTipoAssistencia');"><strong>Tipo
														Assistência</strong></a></label> <select class="custom-select"
												id="txTipoAssistencia" th:field="*{txTipoAssistencia}">
												<option value="">...</option>
												<option value="ATENDIMENTO DOMICILIAR">ATENDIMENTO
													DOMICILIAR</option>
												<option value="INTERNAÇÃO DOMICILIAR">INTERNAÇÃO
													DOMICILIAR</option>
												<option value="NÃO ESPECIFICADO">NÃO ESPECIFICADO</option>
												<option value="RETAGUARDA">RETAGUARDA</option>
											</select>
										</div>
									</div>

								</div>

								<hr></hr>
								<div class="row">
								<h5 class="blue bold">Mensagem</h5>								
								</div>

								<div class="row">
									<!-- INPUT TEXT -->
									<div class="col-sm-12">
										<div class="form-group" >
											<label for="txMensagemResposta"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txMensagemResposta');"><strong>Mensagem
														- Saudecare</strong></a></label>
											<textarea rows="10" style="width: 100%" 
												placeholder="" th:field="*{txMensagemResposta}">Mensagem</textarea>
										</div>
									</div>
								</div>

								<div class="row">
									<!-- INPUT TEXT -->
									<div class="col-sm-12">
										<div class="form-group" >
											<label for="txQuestionario"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txQuestionario');"><strong>Resumo - Questionário</strong></a></label>
											<textarea rows="10" style="width: 100%" 
												placeholder="" th:field="*{txQuestionario}" readonly="readonly">Mensagem</textarea>
										</div>
									</div>
								</div>
								<!-- 
								<h5 class="blue bold">Novo Contato</h5>

								<div class="row">
									
									
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtNovoContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtNovoContato');"><strong>Dt.Contato
														</strong></a></label> <input type="text" class="form-control datepicker"
												id="dtNovoContato" name="dtNovoContato"
												th:field="*{dtNovoContato}"  />
										</div>
									</div>

								</div>
 								-->
								<h5 class="blue bold">Status Final</h5>

								<div class="row">

									<input type="hidden" id="ckConfirmRecebimento"
										name="ckConfirmRecebimento" th:field="*{ckConfirmRecebimento}" />
									<input type="hidden" id="ckEncerrado" name="ckEncerrado"
										th:field="*{ckEncerrado}" />
									<input type="hidden" id="ckTotalizador" name="ckTotalizador"
										th:field="*{ckTotalizador}" />

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txNomeUsuario"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txNomeUsuario');"><strong>Nome
														Usuário</strong></a></label> <input type="text" class="form-control-plaintext"
												id="txNomeUsuario" name="txNomeUsuario"
												th:field="*{txNomeUsuario}" readonly="readonly" />
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdStatus"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdStatus');"><strong>Status</strong></a></label> <select class="custom-select"
												id="cdStatus" th:field="*{cdStatus}">
												<option value="">...</option>												
												<option th:each="scdstatus : ${selectcdstatus}"
												 th:value="${scdstatus.cdStatus}" th:text="${scdstatus.txStatus}">Status</option>
											</select>
										</div>
									</div>


									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="cdRespostaDefinitiva"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdRespostaDefinitiva');"><strong>Tipo Envio?</strong></a></label> <select class="custom-select"
												id="cdRespostaDefinitiva" th:field="*{cdRespostaDefinitiva}">
												<option value="">...</option>
												<option value="1">Entrada</option>
												<option value="0">Comentário</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtUltimoEnvio"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txUltimoEnvio');"><strong>Ultimo
														Envio p/Sulamerica</strong></a></label> <input type="text"
												class="form-control-plaintext" id="txUltimoEnvio"
												name="txUltimoEnvio" readonly="readonly"
												th:field="*{dtUltimoEnvio}" />
										</div>
									</div>

								</div>

								<hr></hr>
								<div class="row">
									<div class="card-body" align="center" th:if="*{dtCancelamento} == null" id="btnGravar">
										<button class="btn btn-success"
											onclick="javascript: gravar('tabRetornoConsultaTratativaObj');">Gravar</button>
									</div>
									<div class="card-body" align="center" th:if="*{dtCancelamento} == null" id="btnGravarFlexivel">
										<button type="button" class="btn btn-info"
											th:onclick="|javascript: gravarFlexivel('/tratativa/enviarsulamerica',null,true,'/tratativa/consultar/${cdCodigo}');|">Enviar Sulamerica</button>
									</div>
									<div class="card-body" align="center" th:if="*{dtCancelamento} != null" id="btnLiberarInativo">
										<button type="button" class="btn btn-info"
											onclick="javascript: gravarFlexivel('/tratativa/liberarinativo');">Liberar Inativo</button>
									</div>
									
								</div>
								   <input type="hidden" id="cdtipo" name="cdtipo" th:field="*{cdTipo}" />
								</div>
							</fieldset>
						</form>
					</div>
					<!-- Modal Inicio  -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Resumo Questionário</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        
				        ...
				        
				        
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
					<!-- Modal Final -->

				</section>
			</div>
		</div>
	</div>


	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 $(document).ready(function() {	
		 var cdTipo = /*[[${tipoMensagem}]]*/ 
		 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
 		 jtpNotify(/*[[${listaErros}]]*/);
 		 
 		var txEdit = /*[[${txEdit}]]*/; 
		 if (txEdit != null) { 
			 $('#viewtratativa').modal('show'); 
		 } 
		
			//Permissões 
			var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
			checkPermissaoBotao(listPermissaoBotao);

			var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
			checkPermissaoCampos(listPermissaoCampos); 

			//Service 
			var txService = /*[[${txService}]]*/; 
			analistaVirtual(txService); 
			var pathUrl = /*[[@{/}]]*/; 	
		
			/*
			var urlGravacao = pathUrl+"gestaoimportacao/gravarmodal";
			 var linksTratativa = [
                   {
                   	"url":"javascript: gravarModal(\""+urlGravacao+"\", \"\", \"#gestaoimportacaoatracacao\");",
                       "bgcolor":"#346cb0",
                       "title":"Gravar",
                       "icon":"fas fa-save"
                   }
               ]			 			 
               $('.btGravarTratativa').kc_fab(linksTratativa);
			*/
	 
			
			// Lookup lkcid2  
			var lkcid2 = { 
					 url: function(value) { 
							return pathUrl+'lookups/lkcid/' + value ;  
						}, 
						minCharNumber: 2, 
						requestDelay: 300, 
						ajaxSettings: { 
							contentType: 'application/json' 
						},	
					    getValue: function(element) { 
					        return element.txDescricaoAbreviada; 
					    }, 
					    list: { 
					    	maxNumberOfElements: 50,
					        onSelectItemEvent: function() { 
					            var selectedItemValue = $("#txDescCid2").getSelectedItemData().txDescricaoAbreviada; 
					            $("#txCid2").val(selectedItemValue).trigger("change"); 
					        } 
					    }, 
					    theme: "plate-dark" 
					}; 
					$("#txDescCid2").easyAutocomplete(lkcid2);
					
					
					// Lookup lkcid3  
					var lkcid3 = { 
							 url: function(value) { 
									return pathUrl+'lookups/lkcid/' + value ;  
								}, 
								minCharNumber: 2, 
								requestDelay: 300, 
								ajaxSettings: { 
									contentType: 'application/json' 
								},	
							    getValue: function(element) { 
							        return element.txDescricaoAbreviada; 
							    }, 
							    list: { 
							    	maxNumberOfElements: 50,
							        onSelectItemEvent: function() { 
							            var selectedItemValue = $("#txDescCid3").getSelectedItemData().txDescricaoAbreviada; 
							            $("#txCid3").val(selectedItemValue).trigger("change"); 
							        } 
							    }, 
							    theme: "plate-dark" 
							}; 
							$("#txDescCid3").easyAutocomplete(lkcid3);					
			
	 });
 /*]]>*/ 
</script>

	<script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      /*
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });
	*/

	// Delete a record
	/*
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
      */
      
    });
  </script>



</section>

</html>