<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="content" style="min-height: 530px">

		<div class="page-inner">
			<div class="page-section">
				<section id="base-style" class="card">
					<div class="card-body">
						<form id="tabRetornoConsultaTratativaCapaObj" method="post"
							th:action="@{/tratativacapav3/gravar}"
							th:object="${tabRetornoConsultaTratativaCapaObj}">
							<fieldset>

								<!-- 
          <nav class="navbar bg-primary main-menu-jtp">
          	<ul>
          		<a th:href="@{/tratativa/novo}" id="linkNovo">
          			<li><span class="fas fa-plus-circle"></span> Novo</li>
          		</a>
          		<a href="javascript: gravar('tabRetornoConsultaTratativaObj');" id="linkGravar">
          			<li><span class="fas fa-save"></span> Gravar</li>
          		</a>
          	</ul>
          	<div class="form-group pesquisar-main-menu">
                	<input type="text" class="form-control pesquisar" placeholder="Pesquisar" id="txPesquisar"/>
          	</div>
          </nav>
 -->
								<div class="row">
									<div class="col-sm-6">
										<h5 class="blue bold">Dados do Paciente</h5>
									</div>
									<div class="col-sm-6">
										<div align="right">
											<a class="blue" th:href="|@{/pacientesv3/listarpacientes}/${voltarTratativa}|"><strong>Voltar</strong></a>
										</div>
									</div>
								</div>
								<hr></hr>
								<div class="row">

									<div class="col-sm-10">


										<div class="row" style="padding-top: 5px">

											<input type="hidden" id="cdTratativa" name="cdTratativa"
												readonly="readonly" th:field="*{cdTratativa}" />
												<input type="hidden" id="dtEncerramentoTratativa" name="dtEncerramentoTratativa"
												 th:field="*{dtEncerramentoTratativa}" />

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txTratativaId"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txTratativaId');"><strong>Tratativa
																Id</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txTratativaId"
														name="txTratativaId" readonly="readonly"
														th:field="*{txTratativaId}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label class="blue" for="dtDataSolicitacao"><a
														class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataSolicitacao');"><strong>Dt.Solicitação</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="dtDataSolicitacao" name="dtDataSolicitacao"
														readonly="readonly" th:field="*{dtDataSolicitacao}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txAssunto"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txAssunto');"><strong>Assunto</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txAssunto" name="txAssunto" readonly="readonly"
														th:field="*{txAssunto}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txSlaTratativa"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txSlaTratativa');"><strong>SLA
																Tratativa</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txSlaTratativa"
														name="txSlaTratativa" readonly="readonly"
														th:field="*{txSlaTratativa}" />
												</div>
											</div>
											
											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="DtSlaTratativa"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtSlaTratativa');"><strong>Dt.SLA
																Tratativa</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="dtSlaTratativa"
														name="dtSlaTratativa" readonly="readonly"
														th:field="*{dtSlaTratativa}" />
												</div>
											</div>
										</div>

										<div class="row">

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txCodSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCodSegurado');"><strong>Cód.
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txCodSegurado"
														name="txCodSegurado" readonly="readonly"
														th:field="*{txCodSegurado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txNomeSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txNomeSegurado');"><strong>Nome
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txNomeSegurado"
														name="txNomeSegurado" readonly="readonly"
														th:field="*{txNomeSegurado}" />
												</div>
											</div>
											
											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txCpfSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCpfSegurado');"><strong>CPF
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txCpfSegurado"
														name="txCpfSegurado" readonly="readonly"
														th:field="*{txCpfSegurado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txCarteira"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCarteira');"><strong>Carteira</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txCarteira" name="txCarteira" readonly="readonly"
														th:field="*{txCarteira}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="dtDataNascimento"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataNascimento');"><strong>Dt.Nascimento</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="dtDataNascimento" name="dtDataNascimento"
														readonly="readonly" th:field="*{dtDataNascimento}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txSexo"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txSexo');"><strong>Sexo</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txSexo" name="txSexo" readonly="readonly"
														th:field="*{txSexo}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txNumVpp"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txNumVpp');"><strong>Num.
																VPP</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txNumVpp"
														name="txNumVpp" readonly="readonly" th:field="*{txNumVpp}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="dtDataIncioVpp"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataIncioVpp');"><strong>Dt.
																Início VPP</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="dtDataIncioVpp"
														name="dtDataIncioVpp" readonly="readonly"
														th:field="*{dtDataIncioVpp}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-4" th:if="*{txEmpresa} != null">
												<div class="form-group">
													<label for="txEmpresa"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txEmpresa');"><strong>Empresa</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txEmpresa" name="txEmpresa" readonly="readonly"
														th:field="*{txEmpresa}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-1">
												<div class="form-group">
													<label for="txEstado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txEstado');"><strong>Estado</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txEstado" name="txEstado" readonly="readonly"
														th:field="*{txEstado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-6" th:if="*{txPrestador} != null">
												<div class="form-group">
													<label for="txPrestador"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txPrestador');"><strong>Prestador</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txPrestador" name="txPrestador" readonly="readonly"
														th:field="*{txPrestador}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-6" th:if="*{txProdSaude} != null">
												<div class="form-group">
													<label for="txProdSaude"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txProdSaude');"><strong>Prod.
																Saúde</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txProdSaude"
														name="txProdSaude" readonly="readonly"
														th:field="*{txProdSaude}" />
												</div>
											</div>
										</div>

									</div>
									
								</div>

								<h5 class="blue bold">Telefones</h5>
								<hr></hr>
								<div class="row">
									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txTelCelular"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelCelular');"><strong>Tel.
														Celular</strong></a></label> <input type="text" class="form-control blue"
												id="txTelCelular" name="txTelCelular"
												th:field="*{txTelCelular}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelCobranca} != null">
										<div class="form-group">
											<label for="txTelCobranca"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelCobranca');"><strong>Tel.
														Cobrança</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelCobranca"
												name="txTelCobranca" readonly="readonly"
												th:field="*{txTelCobranca}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelComercial} != null">
										<div class="form-group">
											<label for="txTelComercial"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelComercial');"><strong>Tel.
														Comercial</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelComercial"
												name="txTelComercial" readonly="readonly"
												th:field="*{txTelComercial}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato} != null">
										<div class="form-group">
											<label for="txTelContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato');"><strong>Tel.
														Contato</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato"
												name="txTelContato" readonly="readonly"
												th:field="*{txTelContato}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato2} != null">
										<div class="form-group">
											<label for="txTelContato2"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato2');"><strong>Tel.
														Contato2</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato2"
												name="txTelContato2" readonly="readonly"
												th:field="*{txTelContato2}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato3} != null">
										<div class="form-group">
											<label for="txTelContato3"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato3');"><strong>Tel.
														Contato3</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato3"
												name="txTelContato3" readonly="readonly"
												th:field="*{txTelContato3}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelPrestador} != null">
										<div class="form-group">
											<label for="txTelPrestador"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelPrestador');"><strong>Tel.
														Prestador</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelPrestador"
												name="txTelPrestador" readonly="readonly"
												th:field="*{txTelPrestador}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelResencial} != null">
										<div class="form-group">
											<label for="txTelResencial"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelResencial');"><strong>Tel.
														Resencial</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelResencial"
												name="txTelResencial" readonly="readonly"
												th:field="*{txTelResencial}" />
										</div>
									</div>
								</div>
								
								<h5 style="padding-top: 20px;" class="blue bold">Status da Tratativa</h5>
								<hr></hr>
								<div class="row">

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdStatusTratativa"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdStatusTratativa');"><strong>Status</strong></a></label> <select class="custom-select"
												id="cdStatus" th:field="*{cdStatusTratativa}">
												<option value="">...</option>												
												<option th:each="scdstatus : ${selectcdstatustratativa}"
												 th:value="${scdstatus.cdStatusTratativa}" th:text="${scdstatus.txStatusTratativa}">Status</option>
											</select>
										</div>
									</div>
									
									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtNovoContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','dtNovoContato');"><strong>Dt.Novo Contato
														</strong></a></label> <input type="text" class="form-control datepicker"
												id="dtNovoContato" name="dtNovoContato"
												th:field="*{{dtNovoContato}}"  />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txUsuario"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txUsuario');"><strong>Usuário
														</strong></a></label> <input type="text" class="form-control-plaintext"
												id="txUsuario" name="txUsuario"
												th:field="*{txUsuario}" readonly="readonly"  />
										</div>
									</div>									
									
									<div class="card-body" align="center">
										<button class="btn btn-success"
											onclick="javascript: gravar('tabRetornoConsultaTratativaCapaObj');">Gravar</button>
									</div>
									
									
							</div>								

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title blue bold" th:text="${titulotratativa}">DataTables.net</h4>
              </div>
              <div class="card-body">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="disabled-sorting text-left bold" style="width: 30px"></th>
                      <th class="bold disabled-sorting" style="width: 600px;">Mensagem</th>
                      <th class="bold disabled-sorting">Dt.Ultimo Envio</th> 
                      <th class="bold disabled-sorting">Usuário</th>
                      <th class="bold disabled-sorting">Status</th>                      
                      <th class="disabled-sorting text-right bold"></th>                                                              
                    </tr>
                  </thead>                  
                  <tbody>
                    <tr th:each="listaTratativas : ${listTratativa}">
                    <td style="width: 30px" th:if="${listaTratativas.cdTipo} == 1"><span class="btn btn-round btn btn-icon btn-sm edit"></span></td>
                    <td style="width: 30px" th:if="${listaTratativas.cdTipo} != 1"><span class="btn btn-round btn-info btn-icon btn-sm edit"></span></td>                      
                      <td class="blue text-left" th:text="${listaTratativas.txMensagem}" th:if="${listaTratativas.cdTipo} == 1">System Architect</td>
                      <td class="blue text-left" th:text="${listaTratativas.txRespostaSimplificada}" th:if="${listaTratativas.cdTipo} != 1">System Architect</td>
                      <td class="blue" th:text="${{listaTratativas.dtUltimoEnvio}}">System Architect</td>
                      <td class="blue" th:text="${listaTratativas.txNomeUsuario}">System Architect</td>
                      <td class="blue" th:text="${listaTratativas.txStatus}">System Architect</td>
                      <td class="text-right">
                        <a th:href="|javascript: abrirtela('@{/tratativav3/consultar}/${listaTratativas.cdCodigo}');|" class="btn btn-round btn-info btn-icon btn-sm edit"><i class="far fa-calendar-alt"></i></a>
                        <a th:href="|javascript: showPergunta('Deseja responder essa mensagem?','/tratativacapav3/criarresposta/*{cdTratativa}/${listaTratativas.cdCodigo}','ajax');|" class="btn btn-round btn-success btn-icon btn-sm edit" th:if="${listaTratativas.cdTipo} == 1"><i class="far fa-comment-dots"></i></a>
						<a th:href="|/tratativacapav3/excluir/*{cdTratativa}/${listaTratativas.cdCodigo}|" class="btn btn-round btn-danger btn-icon btn-sm remove" th:if="${listaTratativas.dtCancelamento} == null and ${listaTratativas.cdTipo} != 1"><i class="fas fa-times"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>		



								
							</fieldset>
						</form>
					</div>
					<!-- Modal Inicio  -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Resumo Questionário</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        
				        ...
				        
				        
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
					<!-- Modal Final -->

				</section>
			</div>
		</div>
	</div>


	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 $(document).ready(function() {	
		 var cdTipo = /*[[${tipoMensagem}]]*/ 
		 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
 		 jtpNotify(/*[[${listaErros}]]*/);
 		 
 		var txEdit = /*[[${txEdit}]]*/; 
		 if (txEdit != null) { 
			 $('#viewtratativa').modal('show'); 
		 } 
		
			//Permissões 
			var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
			checkPermissaoBotao(listPermissaoBotao);

			var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
			checkPermissaoCampos(listPermissaoCampos); 

			//Service 
			var txService = /*[[${txService}]]*/; 
			analistaVirtual(txService); 
			var pathUrl = /*[[@{/}]]*/; 	
		
			/*
			var urlGravacao = pathUrl+"gestaoimportacao/gravarmodal";
			 var linksTratativa = [
                   {
                   	"url":"javascript: gravarModal(\""+urlGravacao+"\", \"\", \"#gestaoimportacaoatracacao\");",
                       "bgcolor":"#346cb0",
                       "title":"Gravar",
                       "icon":"fas fa-save"
                   }
               ]			 			 
               $('.btGravarTratativa').kc_fab(linksTratativa);
			*/
	 
			
			// Lookup lkcid2  
			var lkcid2 = { 
					 url: function(value) { 
							return pathUrl+'lookups/lkcid/' + value ;  
						}, 
						minCharNumber: 2, 
						requestDelay: 300, 
						ajaxSettings: { 
							contentType: 'application/json' 
						},	
					    getValue: function(element) { 
					        return element.txDescricaoAbreviada; 
					    }, 
					    list: { 
					    	maxNumberOfElements: 50,
					        onSelectItemEvent: function() { 
					            var selectedItemValue = $("#txDescCid2").getSelectedItemData().txDescricaoAbreviada; 
					            $("#txCid2").val(selectedItemValue).trigger("change"); 
					        } 
					    }, 
					    theme: "plate-dark" 
					}; 
					$("#txDescCid2").easyAutocomplete(lkcid2);
					
					
					// Lookup lkcid3  
					var lkcid3 = { 
							 url: function(value) { 
									return pathUrl+'lookups/lkcid/' + value ;  
								}, 
								minCharNumber: 2, 
								requestDelay: 300, 
								ajaxSettings: { 
									contentType: 'application/json' 
								},	
							    getValue: function(element) { 
							        return element.txDescricaoAbreviada; 
							    }, 
							    list: { 
							    	maxNumberOfElements: 50,
							        onSelectItemEvent: function() { 
							            var selectedItemValue = $("#txDescCid3").getSelectedItemData().txDescricaoAbreviada; 
							            $("#txCid3").val(selectedItemValue).trigger("change"); 
							        } 
							    }, 
							    theme: "plate-dark" 
							}; 
							$("#txDescCid3").easyAutocomplete(lkcid3);					
			
	 });
 /*]]>*/ 
</script>

	<script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      /*
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });
	*/

	// Delete a record
	/*
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
      */
      
    });
  </script>



</section>

</html>