<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="content" style="min-height: 530px">

		<div class="row">
			<div class="col-md-12" style="background-color: white;">


				<nav class="navbar blue">
					<fieldset class="col-sm-12 jtp-fieldset">
						<legend class="blue">Filtros</legend>
						<div class="panel panel-default">
							<div class="panel-body">
								<form id="tabRetornoConsultaTratativaPesquisaFiltroObj"
									method="get" th:action="@{/tratativapesquisav3}"
									th:object="${tabRetornoConsultaTratativaPesquisaFiltroObj}">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txCpfSeguradoFiltro"><strong>CPF
														Segurado</strong></label> <input type="text" class="form-control blue"
													id="txCpfSeguradoFiltro" name="txCpfSeguradoFiltro"
													th:field="*{txCpfSeguradoFiltro}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txNomeSeguradoFiltro" class="blue"><strong>Nome
														Segurado</strong></label> <input type="text" class="form-control blue"
													id="txNomeSeguradoFiltro" name="txNomeSeguradoFiltro"
													th:field="*{txNomeSeguradoFiltro}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txCodSeguradoFiltro" class="blue"><strong>Cód.Segurado(Sulamérica)</strong></label>
												<input type="text" class="form-control blue"
													id="txCodSeguradoFiltro" name="txCodSeguradoFiltro"
													th:field="*{txCodSeguradoFiltro}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txPrestadorFiltro" class="blue"><strong>Hospital</strong></label>
												<input type="text" class="form-control blue"
													id="txPrestadorFiltro" name="txPrestadorFiltro"
													th:field="*{txPrestadorFiltro}" />
											</div>
										</div>


										<div class="col-sm-2">
											<div class="form-group">
												<label for="txDataFiltro" class="blue"><strong>Data
														?</strong></label> <select class="custom-select blue" name="txDataFiltro"
													id="txDataFiltro" th:field="*{txDataFiltro}">
													<option value="">...</option>
													<option value="dtNovoContato">Dt.Novo Contato</option>
													<option value="dtDataSolicitacao">Dt.Solicitação</option>													
													<option value="dtUltimoEnvio">Dt.Ultimo Envio</option>
												</select>
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtDataInicialFiltro" class="blue"><strong>Dt.Inicial</strong></label>
												<input type="text" class="form-control jtpDate blue"
													id="dtDataInicialFiltro" name="dtDataInicialFiltro"
													th:field="*{dtDataInicialFiltro}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtDataFinalFiltro" class="blue"><strong>Dt.Final</strong></label>
												<input type="text" class="form-control jtpDate blue"
													id="dtDataFinalFiltro" name="dtDataFinalFiltro"
													th:field="*{dtDataFinalFiltro}" />
											</div>
										</div>

										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdStatusTratativaFiltro" class="blue"><strong>Status Tratativa</strong></label>
												<select class="custom-select blue" name="cdStatusTratativaFiltro"
													id="cdStatusTratativaFiltro" th:field="*{cdStatusTratativaFiltro}">
													<option value="">...</option>
													<option th:each="scdstatustratativa : ${selectcdstatustratativa}"
														th:value="${scdstatustratativa.cdStatusTratativa}"
														th:text="${scdstatustratativa.txStatusTratativa}">Status</option>
												</select>
											</div>
										</div>
										
										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdStatusFiltro" class="blue"><strong>Status Envio</strong></label>
												<select class="custom-select blue" name="cdStatusFiltro"
													id="cdStatusFiltro" th:field="*{cdStatusFiltro}">
													<option value="">...</option>
													<option th:each="scdstatus : ${selectcdstatus}"
														th:value="${scdstatus.cdStatus}"
														th:text="${scdstatus.txStatus}">Status Envio</option>
												</select>
											</div>
										</div>
										
										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdCcCovid19Filtro" class="blue"><strong>Status Covid19</strong></label>
												<select class="custom-select blue" name="cdCcCovid19Filtro"
													id="cdCcCovid19Filtro" th:field="*{cdCcCovid19Filtro}">
													<option value="">...</option>
													<option th:each="scdstatus : ${selectcdcovid}"
														th:value="${scdstatus.cdCovid}"
														th:text="${scdstatus.txCovid}">Status Envio</option>
												</select>
											</div>
										</div>


										<button type="submit" class="btn btn-success float-right"
											style="margin: 25px 0px 0px; max-height: 37px;">
											<strong>Pesquisar</strong>
										</button>

									</div>
								</form>
							</div>
						</div>
					</fieldset>
				</nav>

			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title blue bold" th:text="${titulotratativa}">DataTables.net</h4>
					</div>
					<div class="card-body">
						<div class="toolbar">
							<!--        Here you can write extra buttons/actions for the toolbar              -->
						</div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
								<th class="bold disabled-sorting"></th>
									<th class="bold disabled-sorting">No.Tratativa</th>									
									<th class="bold disabled-sorting" style="min-width: 200px">Nome</th>
									<th class="bold disabled-sorting" style="min-width: 200px">Cód.Segurado</th>
									<th class="bold" data-field="dtDataSolicitacao">Dt.Solicitação</th>
									<th class="bold disabled-sorting">Hospital</th>
									<th class="bold disabled-sorting">Dt.1o.Contato</th>
									<th class="bold disabled-sorting">Dt.Novo Contato</th>
									<th class="bold disabled-sorting">Status Tratativa</th>
									<th class="bold disabled-sorting">Status Envio</th>

								</tr>
							</thead>
							<tbody>
								<tr th:each="listtratativa : ${listPesquisa}"
									th:onclick="|javascript: openWindowSimple('@{/tratativacapav3/consultar}/${listtratativa.cdTratativa}','_blank');|">
									<td class="blue"><img alt="" width="40px" height="40px" src="/assets/img/covid-19.png" th:if="${listtratativa.ckCcCovid19Sim} == 1" /></td>
									<td class="blue" th:text="${listtratativa.txTratativaId}">Tiger
										Nixon</td>									
									<td class="blue" th:text="${listtratativa.txNomeSegurado}">System
										Architect</td>
									<td class="blue" th:text="${listtratativa.txCodSegurado}">System
										Architect</td>	
									<td class="blue" th:text="${{listtratativa.dtDataSolicitacao}}">61</td>
									<td class="blue" th:text="${listtratativa.txPrestador}">61</td>
									<td class="blue" th:text="${{listtratativa.dtPrimContato}}">61</td>
									<td class="blue" th:text="${{listtratativa.dtNovoContato}}">61</td>
									<td class="blue" th:text="${listtratativa.txStatusTratativa}">61</td>
									<td class="blue" th:text="${listtratativa.txStatus}">61</td>


								</tr>
							</tbody>
						</table>
					</div>
					<!-- end content-->
				</div>
				<!--  end card  -->
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->

	</div>


	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 $(document).ready(function() {	
		 var cdTipo = /*[[${tipoMensagem}]]*/ 
		 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
 		 jtpNotify(/*[[${listaErros}]]*/);
 		 
 		var txEdit = /*[[${txEdit}]]*/; 
		 if (txEdit != null) { 
			 $('#viewtratativa').modal('show'); 
		 } 
		
			//Permissões 
			var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
			checkPermissaoBotao(listPermissaoBotao);

			var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
			checkPermissaoCampos(listPermissaoCampos); 

			//Service 
			var txService = /*[[${txService}]]*/; 
			analistaVirtual(txService); 
			var pathUrl = /*[[@{/}]]*/; 	
		
			
			
			

	 
	 });
 /*]]>*/ 
</script>

	<script>
 
 
  $(document).ready(function() {
  	
	     var printCounter = 0; 
	     
	      $('#datatable').DataTable({
	        "pagingType": "full_numbers",
	        "ordering": false,
	        "scrollX": true,
	        "lengthMenu": [
	          [10, 25, 50, -1],
	          [10, 25, 50, "All"]
	        ],
	        dom: 'Bfrtip',
	        buttons:  [
	            'copy',
	            {
	                extend: 'excel',
	                messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
	            },
	            {
	                extend: 'pdf',
	                messageBottom: null
	            },
	            {
	                extend: 'print',
	                messageTop: function () {
	                    printCounter++;
	 
	                    if ( printCounter === 1 ) {
	                        return 'This is the first time you have printed this document.';
	                    }
	                    else {
	                        return 'You have printed this document '+printCounter+' times';
	                    }
	                },
	                messageBottom: null
	            }
	        ],
	        responsive: true,
	        language: {
	          search: "_INPUT_",
	          searchPlaceholder: "Search records",
	        }

	      });

	      var table = $('#datatable').DataTable();

	      // Edit record
	      /*
	      table.on('click', '.edit', function() {
	        $tr = $(this).closest('tr');
	        if ($($tr).hasClass('child')) {
	          $tr = $tr.prev('.parent');
	        }

	        var data = table.row($tr).data();
	        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
	      });
		*/

		// Delete a record
		/*
	      table.on('click', '.remove', function(e) {
	        $tr = $(this).closest('tr');
	        if ($($tr).hasClass('child')) {
	          $tr = $tr.prev('.parent');
	        }
	        table.row($tr).remove().draw();
	        e.preventDefault();
	      });

	      //Like record
	      table.on('click', '.like', function() {
	        alert('You clicked on Like button');
	      });
	      */
	      
	    });
  </script>



</section>

</html>