<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="content" style="min-height: 530px">

		<div class="page-inner">
			<div class="page-section">
				<section id="base-style" class="card">
					<div class="card-body">
						<form id="tabRetornoConsultaTratativaObj" method="post"
							th:action="@{/tratativav3/gravar}"
							th:object="${tabRetornoConsultaTratativaObj}">
							<fieldset>

								<!-- 
          <nav class="navbar bg-primary main-menu-jtp">
          	<ul>
          		<a th:href="@{/tratativa/novo}" id="linkNovo">
          			<li><span class="fas fa-plus-circle"></span> Novo</li>
          		</a>
          		<a href="javascript: gravar('tabRetornoConsultaTratativaObj');" id="linkGravar">
          			<li><span class="fas fa-save"></span> Gravar</li>
          		</a>
          	</ul>
          	<div class="form-group pesquisar-main-menu">
                	<input type="text" class="form-control pesquisar" placeholder="Pesquisar" id="txPesquisar"/>
          	</div>
          </nav>
 -->
								<div class="row">
									<div class="col-sm-6">
										<h5 class="blue bold">Dados do Paciente</h5>
									</div>
									<div class="col-sm-6">
										<div align="right">
											<a class="blue"
												th:href="|@{/tratativacapav3/consultar}/${session.cdTratativa}|"><strong>Voltar</strong></a>
										</div>
									</div>
								</div>
								<hr></hr>
								<div class="row">

									<div class="col-sm-10">


										<div class="row" style="padding-top: 5px">

											<input type="hidden" id="cdCodigo" name="cdCodigo"
												readonly="readonly" th:field="*{cdCodigo}" />

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txTratativaId"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txTratativaId');"><strong>Tratativa
																Id</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txTratativaId"
														name="txTratativaId" readonly="readonly"
														th:field="*{txTratativaId}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label class="blue" for="txMsgId"><a
														class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txMsgId');"><strong>Msg
																Id</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txMsgId"
														name="txMsgId" readonly="readonly" th:field="*{txMsgId}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label class="blue" for="dtDataSolicitacao"><a
														class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataSolicitacao');"><strong>Dt.Solicitação</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="dtDataSolicitacao" name="dtDataSolicitacao"
														readonly="readonly" th:field="*{dtDataSolicitacao}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txAssunto"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txAssunto');"><strong>Assunto</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txAssunto" name="txAssunto" readonly="readonly"
														th:field="*{txAssunto}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txSlaTratativa"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txSlaTratativa');"><strong>SLA
																Tratativa</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txSlaTratativa"
														name="txSlaTratativa" readonly="readonly"
														th:field="*{txSlaTratativa}" />
												</div>
											</div>
										</div>

										<div class="row">

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txCodSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCodSegurado');"><strong>Cód.
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txCodSegurado"
														name="txCodSegurado" readonly="readonly"
														th:field="*{txCodSegurado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txNomeSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txNomeSegurado');"><strong>Nome
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txNomeSegurado"
														name="txNomeSegurado" readonly="readonly"
														th:field="*{txNomeSegurado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-4">
												<div class="form-group">
													<label for="txCpfSegurado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCpfSegurado');"><strong>CPF
																Segurado</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txCpfSegurado"
														name="txCpfSegurado" readonly="readonly"
														th:field="*{txCpfSegurado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txCarteira"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txCarteira');"><strong>Carteira</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txCarteira" name="txCarteira" readonly="readonly"
														th:field="*{txCarteira}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="dtDataNascimento"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataNascimento');"><strong>Dt.Nascimento</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="dtDataNascimento" name="dtDataNascimento"
														readonly="readonly" th:field="*{dtDataNascimento}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txSexo"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txSexo');"><strong>Sexo</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txSexo" name="txSexo" readonly="readonly"
														th:field="*{txSexo}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="txNumVpp"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txNumVpp');"><strong>Num.
																VPP</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txNumVpp"
														name="txNumVpp" readonly="readonly" th:field="*{txNumVpp}" />
												</div>
											</div>


											<!-- INPUT TEXT -->
											<div class="col-sm-2">
												<div class="form-group">
													<label for="dtDataIncioVpp"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtDataIncioVpp');"><strong>Dt.
																Início VPP</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="dtDataIncioVpp"
														name="dtDataIncioVpp" readonly="readonly"
														th:field="*{dtDataIncioVpp}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-4" th:if="*{txEmpresa} != null">
												<div class="form-group">
													<label for="txEmpresa"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txEmpresa');"><strong>Empresa</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txEmpresa" name="txEmpresa" readonly="readonly"
														th:field="*{txEmpresa}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-1">
												<div class="form-group">
													<label for="txEstado"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txEstado');"><strong>Estado</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txEstado" name="txEstado" readonly="readonly"
														th:field="*{txEstado}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-6" th:if="*{txPrestador} != null">
												<div class="form-group">
													<label for="txPrestador"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txPrestador');"><strong>Prestador</strong></a></label>
													<input type="text" class="form-control-plaintext blue"
														id="txPrestador" name="txPrestador" readonly="readonly"
														th:field="*{txPrestador}" />
												</div>
											</div>

											<!-- INPUT TEXT -->
											<div class="col-sm-6" th:if="*{txProdSaude} != null">
												<div class="form-group">
													<label for="txProdSaude"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txProdSaude');"><strong>Prod.
																Saúde</strong></a></label> <input type="text"
														class="form-control-plaintext blue" id="txProdSaude"
														name="txProdSaude" readonly="readonly"
														th:field="*{txProdSaude}" />
												</div>
											</div>
										</div>

									</div>


									<div class="col-sm-2" th:with="codigo=*{cdCodigo}">

										<ul class="nav nav-pills nav-pills-primary flex-column"
											role="tablist">
											<li class="nav-item"
												th:each="listtratativa : ${listTratativaId}"><a
												class="nav-link "
												th:classappend="${codigo} == ${listtratativa.cdCodigo} ? 'active'"
												th:href="|@{/tratativav3/consultar}/${listtratativa.cdCodigo}|"
												role="tablist"> Mensagem</a></li>
										</ul>
									</div>
								</div>

								<h5 class="blue bold">Telefones</h5>
								<hr></hr>
								<div class="row">
									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txTelCelular"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelCelular');"><strong>Tel.
														Celular</strong></a></label> <input type="text" class="form-control blue"
												id="txTelCelular" name="txTelCelular"
												th:field="*{txTelCelular}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelCobranca} != null">
										<div class="form-group">
											<label for="txTelCobranca"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelCobranca');"><strong>Tel.
														Cobrança</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelCobranca"
												name="txTelCobranca" readonly="readonly"
												th:field="*{txTelCobranca}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelComercial} != null">
										<div class="form-group">
											<label for="txTelComercial"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelComercial');"><strong>Tel.
														Comercial</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelComercial"
												name="txTelComercial" readonly="readonly"
												th:field="*{txTelComercial}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato} != null">
										<div class="form-group">
											<label for="txTelContato"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato');"><strong>Tel.
														Contato</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato"
												name="txTelContato" readonly="readonly"
												th:field="*{txTelContato}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato2} != null">
										<div class="form-group">
											<label for="txTelContato2"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato2');"><strong>Tel.
														Contato2</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato2"
												name="txTelContato2" readonly="readonly"
												th:field="*{txTelContato2}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelContato3} != null">
										<div class="form-group">
											<label for="txTelContato3"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelContato3');"><strong>Tel.
														Contato3</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelContato3"
												name="txTelContato3" readonly="readonly"
												th:field="*{txTelContato3}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelPrestador} != null">
										<div class="form-group">
											<label for="txTelPrestador"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelPrestador');"><strong>Tel.
														Prestador</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelPrestador"
												name="txTelPrestador" readonly="readonly"
												th:field="*{txTelPrestador}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2" th:if="*{txTelResencial} != null">
										<div class="form-group">
											<label for="txTelResencial"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txTelResencial');"><strong>Tel.
														Resencial</strong></a></label> <input type="text"
												class="form-control-plaintext blue" id="txTelResencial"
												name="txTelResencial" readonly="readonly"
												th:field="*{txTelResencial}" />
										</div>
									</div>
								</div>

								<div class="row">

									<!-- INPUT TEXT -->
									<div class="col-sm-12">
										<div class="form-group">
											<label for="txMensagem"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txMensagem');"><strong>Mensagem
														- Sulamerica</strong></a></label>
											<textarea th:rows="${vlRows}" class="form-control blue"
												placeholder="" th:field="*{txMensagem}">Mensagem</textarea>
										</div>
									</div>
								</div>

								<input type="hidden" id="cdSequencia" name="cdSequencia"
									th:field="*{cdSequencia}" />



								<h5 style="padding-top: 20px" class="blue bold">Saudecare</h5>

								<h5 style="padding-top: 20px" class="blue bold">
									Bom dia / Boa tarde – meu nome é <span th:text="${txUsuario}">...</span>,
									falo da Saúde Care, empresa parceira SAS;
								</h5>


								<div class="card">
									<div class="card-body">
										<h6 style="padding-top: 20px" class="blue bold">
											O motivo do contato é referente ao acompanhamento da
											internação do Sr.(a) <span th:text="*{txNomeSegurado}"></span>,
											pode falar no momento?
										</h6>
										<div class="row">

											<div class="col-sm-2">
												<div class="form-group">
													<label for="ckPodeAtender"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','ckPodeAtender');"><strong>Pode
																Atender?</strong></a></label> <select class="custom-select"
														id="ckPodeAtender" th:field="*{ckPodeAtender}">
														<option value="">...</option>
														<option value="1">SIM</option>
														<option value="2">NÃO</option>
													</select>
												</div>
											</div>

											<div class="col-sm-2">
												<div class="form-group">
													<label for="dtNovoContato"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','dtNovoContato');"><strong>Novo
																Contato</strong></a></label> <input type="text" class="form-control"
														id="dtNovoContato" name="dtNovoContato"
														th:field="*{dtNovoContato}" />
												</div>
											</div>
										</div>


										<div class="card">
											<div class="card-body">

												<h5 style="padding-top: 10px" class="blue bold">Por
													gentileza, pode me informar seu nome e parentesco?</h5>
												<div class="row">

													<!-- INPUT TEXT -->
													<div class="col-sm-4">
														<div class="form-group">
															<label for="txNomeResponsavel"><a
																class="light-blue"
																href="javascript: logField('TabRetornoConsultaTratativaService','txNomeResponsavel');"><strong>Nome
																		Responsável</strong></a></label> <input type="text" class="form-control"
																id="txNomeResponsavel" name="txNomeResponsavel"
																th:field="*{txNomeResponsavel}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-4">
														<div class="form-group">
															<label for="txNomeContato"><a class="light-blue"
																href="javascript: logField('TabRetornoConsultaTratativaService','txNomeContato');"><strong>Nome
																		Contato</strong></a></label> <input type="text" class="form-control"
																id="txNomeContato" name="txNomeContato"
																th:field="*{txNomeContato}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="txGrauParentesco"><a
																class="light-blue"
																href="javascript: logField('TabRetornoConsultaTratativaService','txGrauParentesco');"><strong>Grau
																		Parentesco</strong></a></label> <select class="custom-select"
																id="txGrauParentesco" th:field="*{txGrauParentesco}">
																<option value="">...</option>
																<option value="Cuidador">Cuidador</option>
																<option value="Enfermeira(o)">Enfermeira(o)</option>
																<option value="Esposo(a)">Esposo(a)</option>
																<option value="Familiares">Familiares</option>
																<option value="Filho(a)">Filho(a)</option>
																<option value="Paciente">Paciente</option>
															</select>
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="txRealizouContato"><a
																class="light-blue"
																href="javascript: logField('TabRetornoConsultaTratativaService','txRealizouContato');"><strong>Realizou
																		Contato?</strong></a></label> <select class="custom-select"
																id="txRealizouContato" th:field="*{txRealizouContato}">
																<option value="">...</option>
																<option value="SIM">SIM</option>
																<option value="NÃO">NÃO</option>
															</select>
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-4">
														<div class="form-group">
															<label for="txMotivoNaoContato"><a
																class="light-blue"
																href="javascript: logField('TabRetornoConsultaTratativaService','txMotivoNaoContato');"><strong>Motivo
																		não Contato</strong></a></label> <select class="custom-select"
																id="txMotivoNaoContato" th:field="*{txMotivoNaoContato}">
																<option value="">...</option>
																<option value="CHAMA E NÃO ATENDE">CHAMA E NÃO
																	ATENDE</option>
																<option value="FALTA DE CADASTRO DO TELEFONE">FALTA
																	DE CADASTRO DO TELEFONE</option>
																<option value="HOSPITAL NÃO FORNECE INFORMAÇÕES">HOSPITAL
																	NÃO FORNECE INFORMAÇÕES</option>
																<option value="PACIENTE NÃO SE ENCONTRA NO HOSPITAL">PACIENTE
																	NÃO SE ENCONTRA NO HOSPITAL</option>
															</select>
														</div>
													</div>


													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="dtPrimContato"><a class="light-blue"
																href="javascript: logField('TabRetornoConsultaTratativaService','dtPrimContato');"><strong>Dt.
																		1o. Contato</strong></a></label> <input type="text"
																class="form-control jtpDate" id="dtPrimContato"
																name="dtPrimContato" th:field="*{dtPrimContato}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="txTelHospital"><a class="light-blue"
																href="javascript: logField('TabRetornoConsultaTratativaService','txTelHospital');"><strong>Tel.
																		Contato</strong></a></label> <input type="text" class="form-control"
																id="txTelHospital" name="txTelHospital"
																th:field="*{txTelHospital}" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">2. O
											paciente está internado ou está em casa já ?</h6>

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select" id="cdPacienteHospitalCasa"
													th:field="*{cdPacienteHospitalCasa}">
													<option value="">...</option>
													<option
														th:each="scdlocalpaciente : ${selectcdlocalpaciente}"
														th:value="${scdlocalpaciente.cdLocalPaciente}"
														th:text="${scdlocalpaciente.txLocalPaciente}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">
											3. Você é o familiar ou Cuidador que sempre estará com o
											Sr.(a) <span th:text="*{txNomeSegurado}"></span> em período
											integral?
										</h6>

										<div class="col-sm-2">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteCuidadorPeriodoIntegral"
													th:field="*{cdPacienteCuidadorPeriodoIntegral}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">4. Sabe
											me informar se ele teve outras Internações nesse último ano?</h6>

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">4. Sabe
											me informar se ele teve outras Internações nesse último ano? - Nead</h6>


										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select" id="cdPacienteInternacoesUltimoAno"
													th:field="*{cdPacienteInternacoesUltimoAno}">
													<option value="">...</option>
													<option th:each="scdSelect : ${selectcdinternacoesano}"
														th:value="${scdSelect.cdPacienteInternacoesUltimoAno}"
														th:text="${scdSelect.txPacienteInternacoesUltimoAno}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">Quais os
											sintomas que o paciente apresentou ?</h6>

										<!-- Fazer -->

										<!-- LOOKUP -->
										<div class="col-sm-4">
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend" style="width: 35px;">
														<div class="input-group-text"
															style="width: 100% !important; border-radius: 5px !important; padding: 0px 0px 0px 7.5px !important;">
															<i class="fas fa-search"></i>
														</div>
													</div>
													<input type="text" class="form-control" id="txDescCid2"
														name="txDescCid2" th:field="*{txDescCid2}"
														onchange="javascript: limpalookup('txDescCid2','txCid2');" />
													<input type="hidden" class="form-control" id="txCid2"
														name="cdSubcategoria" th:field="*{txCid2}" />
													<div
														onclick="gravaCid('cdCodigoCid', 'cdCodigo', 'cdTipo', 'txCid2')"
														class="input-group-prepend" style="width: 35px;">
														<div class="input-group-text"
															style="width: 100% !important; border-radius: 5px !important; border-right: 1px solid #E3E3E3 !important; padding: 0px 0px 0px 7.5px !important; border-left: none !important;">
															<i class="fas fa-plus"></i>
														</div>
													</div>
												</div>
												<input type="hidden" id="cdTipo" name="cdTipo" value="1" />
												<input type="hidden" id="cdCodigoCid" name="cdCodigoCid"
													value="" /> <input type="hidden" id="cdCodigo"
													name="cdCodigo"
													th:value="${tabRetornoConsultaTratativaObj.cdCodigo}" />
											</div>
										</div>

										<table id="datatable1"
											class="table table-striped table-bordered" cellspacing="0"
											width="100%">
											<thead>
												<tr>
													<th class="bold disabled-sorting">Tipo CID</th>
													<th class="bold disabled-sorting">Subcategoria CID</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="listdados : ${listacid1}">
													<td class="blue"
														th:text="${listdados.cdTipo == 1} ? 'Primário' : 'Secundário'">cdTipo
													</td>
													<td class="blue"
														th:text="${listdados.tabCidSubcategoriaObj.txDescricaoAbreviada}">
														cdSubcategoria</td>
													<td class="text-right"><a
														th:href="|javascript:showPergunta('Deseja excluir?','@{/tratativav3/excluircid}/${listdados.cdCodigoCid}','ajax','@{/tratativav3/consultar}/${tabRetornoConsultaTratativaObj.cdCodigo}')|"
														class="btn btn-round btn-danger btn-icon btn-sm remove"><i
															class="fas fa-times"></i></a></td>
												</tr>
											</tbody>
										</table>

										<h6 style="padding-top: 10px" class="blue bold">
											Sr.(a) <span th:text="*{txNomeSegurado}"></span> faz algum
											outro tratamento médico ex : para hipertensão, diabetes ?
										</h6>

										<!-- Fazer -->

										<!-- LOOKUP -->
										<div class="col-sm-4">
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend" style="width: 35px;">
														<div class="input-group-text"
															style="width: 100% !important; border-radius: 5px !important; padding: 0px 0px 0px 7.5px !important;">
															<i class="fas fa-search"></i>
														</div>
													</div>
													<input type="text" class="form-control" id="txDescCid3"
														name="txDescCid3" th:field="*{txDescCid3}"
														onchange="javascript: limpalookup('txDescCid3','txCid3');" />
													<input type="hidden" class="form-control" id="txCid3"
														name="cdSubcategoria" th:field="*{txCid3}" />
													<div
														onclick="gravaCid('cdCodigoCid1', 'cdCodigo1', 'cdTipo1', 'txCid3')"
														class="input-group-prepend" style="width: 35px;">
														<div class="input-group-text"
															style="width: 100% !important; border-radius: 5px !important; border-right: 1px solid #E3E3E3 !important; padding: 0px 0px 0px 7.5px !important; border-left: none !important;">
															<i class="fas fa-plus"></i>
														</div>
													</div>
												</div>
												<input type="hidden" id="cdTipo1" name="cdTipo" value="2" />
												<input type="hidden" id="cdCodigoCid1" name="cdCodigoCid"
													value="" /> <input type="hidden" id="cdCodigo1"
													name="cdCodigo"
													th:value="${tabRetornoConsultaTratativaObj.cdCodigo}" />


											</div>
										</div>

										<table id="datatable2"
											class="table table-striped table-bordered" cellspacing="0"
											width="100%">
											<thead>
												<tr>
													<th class="bold disabled-sorting">Tipo CID</th>
													<th class="bold disabled-sorting">Subcategoria CID</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="listdados : ${listacid2}">
													<td class="blue"
														th:text="${listdados.cdTipo == 1} ? 'Primário' : 'Secundário'">cdTipo
													</td>
													<td class="blue"
														th:text="${listdados.tabCidSubcategoriaObj.txDescricaoAbreviada}">
														cdSubcategoria</td>
													<td class="text-right"><a
														th:href="|javascript:showPergunta('Deseja excluir?','@{/tratativav3/excluircid}/${listdados.cdCodigoCid}','ajax','@{/tratativav3/consultar}/${tabRetornoConsultaTratativaObj.cdCodigo}')|"
														class="btn btn-round btn-danger btn-icon btn-sm remove"><i
															class="fas fa-times"></i></a></td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>



								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">7.
											Paciente necessitou realizar o exame para o Covid?</h6>

										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label for="cdCcCovid19"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','cdCcCovid19');"><strong>Covid
														</strong></a></label> <select class="custom-select" id="cdCcCovid19"
														th:field="*{cdCcCovid19}">
														<option value="">...</option>
														<option th:each="scdcccovid : ${selectcdcovid}"
															th:value="${scdcccovid.cdCovid}"
															th:text="${scdcccovid.txCovid}"></option>
													</select>
												</div>
											</div>


											<div class="col-sm-2">
												<div class="form-group">
													<label for="txTelHospital"><a class="light-blue"
														href="javascript: logField('TabRetornoConsultaTratativaService','txTelHospital');"><strong>Dt.Resultado
														</strong></a></label> <input type="text" class="form-control"
														id="txTelHospital" name="txTelHospital"
														th:field="*{txTelHospital}" />
												</div>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											8. Qual o Nivel de Consciência do Sr.(a) <span
												th:text="*{txNomeSegurado}"></span> ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											8. Qual o Nivel de Consciência do Sr.(a) <span
												th:text="*{txNomeSegurado}"></span> - Nead ?
										</h6>
										

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select" id="cdNivelConsciencia"
													th:field="*{cdNivelConsciencia}">
													<option value="">...</option>
													<option
														th:each="scdnivelconsciencia : ${selectcdnivelconsciencia}"
														th:value="${scdnivelconsciencia.cdCodigo}"
														th:text="${scdnivelconsciencia.txDescricao}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">9. E
											Antes dessa última internação, como ele estava ?</h6>
											
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">9. E
											Antes dessa última internação, como ele estava ? - Nead</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select" id="cdNivelConscienciaAntes"
													th:field="*{cdNivelConscienciaAntes}">
													<option value="">...</option>
													<option
														th:each="scdnivelconsciencia : ${selectcdnivelconsciencia}"
														th:value="${scdnivelconsciencia.cdCodigo}"
														th:text="${scdnivelconsciencia.txDescricao}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											10. Sr.(a) <span th:text="*{txNomeSegurado}"></span> tem
											desconforto de ficar na mesma posição e com isso, entende e
											consegue se mexer ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											10. Sr.(a) <span th:text="*{txNomeSegurado}"></span> tem
											desconforto de ficar na mesma posição e com isso, entende e
											consegue se mexer ? - Braden
										</h6>

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteDesconfortoPosicao"
													th:field="*{cdPacienteDesconfortoPosicao}">
													<option value="">...</option>
													<option th:each="scdselect : ${selectcddesconfortoposicao}"
														th:value="${scdselect.cdTipoDesconforto}"
														th:text="${scdselect.txTipoDesconforto}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											11. Sr.(a) <span th:text="*{txNomeSegurado}"></span> fica com
											a ‘pele’ em contato com a umidade (urina) ?
										</h6>

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											11. Sr.(a) <span th:text="*{txNomeSegurado}"></span> fica com
											a ‘pele’ em contato com a umidade (urina) ? - Braden
										</h6>


										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacientePeleContatoUrina"
													th:field="*{cdPacientePeleContatoUrina}">
													<option value="">...</option>
													<option th:each="scdselect : ${selectcdcontatopeleurina}"
														th:value="${scdselect.cdPacientePeleContatoUrina}"
														th:text="${scdselect.txPacientePeleContatoUrina}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											12. Sr.(a) <span th:text="*{txNomeSegurado}"></span> tem
											Lesões (feridas) de Pele ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											12. Sr.(a) <span th:text="*{txNomeSegurado}"></span> tem
											Lesões (feridas) de Pele ? - Nead
										</h6>

										<div class="col-sm-6">
											<div class="form-group">
												<select class="custom-select" id="cdTipoLesaoPele"
													th:field="*{cdTipoLesaoPele}">
													<option value="">...</option>
													<option th:each="scdselect : ${selectcdtipolesoes}"
														th:value="${scdselect.cdTipoLesaoPele}"
														th:text="${scdselect.txTipoLesaoPele}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											13. Sr.(a) <span th:text="*{txNomeSegurado}"></span> está
											conseguindo andar ou fica na cama ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											13. Sr.(a) <span th:text="*{txNomeSegurado}"></span> está
											conseguindo andar ou fica na cama ? - Braden
										</h6>

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select" id="cdPacienteAndaCama"
													th:field="*{cdPacienteAndaCama}">
													<option value="">...</option>
													<option
														th:each="scdpacienteandacama : ${selectcdpacienteandacama}"
														th:value="${scdpacienteandacama.cdTipoAndarCama}"
														th:text="${scdpacienteandacama.txTipoAndarCama}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											14. Como falou que o Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está ‘acamado ou confinado na cadeira de rodas’ poderia me
											falar se mesmo na cama ou cadeira ele tá:
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											14. Como falou que o Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está ‘acamado ou confinado na cadeira de rodas’ poderia me
											falar se mesmo na cama ou cadeira ele tá: - Braden
										</h6>

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteAcamadoCadeiraRodas"
													th:field="*{cdPacienteAcamadoCadeiraRodas}">
													<option value="">...</option>
													<option
														th:each="scdpacienteacamadocadeirarodas : ${selectcdpacienteacamadocadeirarodas}"
														th:value="${scdpacienteacamadocadeirarodas.cdTipoAcamadoCadeiraRodas}"
														th:text="${scdpacienteacamadocadeirarodas.txTipoAcamadoCadeiraRodas}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">15.
											Estando na ‘cama ou na cadeira de rodas’ e se estiver muito
											imóvel :</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">15.
											Estando na ‘cama ou na cadeira de rodas’ e se estiver muito
											imóvel : - Braden</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteCamaCadeiraImovel"
													th:field="*{cdPacienteCamaCadeiraImovel}">
													<option value="">...</option>
													<option
														th:each="scdpacientecamacadeiraimovel : ${selectcdpacientecamacadeiraimovel}"
														th:value="${scdpacientecamacadeiraimovel.cdTipoCamaCadeiraImovel}"
														th:text="${scdpacientecamacadeiraimovel.txTipoCamaCadeiraImovel}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											16. Como o Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se movimentar na cama ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											16. Como o Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se movimentar na cama ? - Katz
										</h6>

										<div class="col-sm-8">
											<div class="form-group">
												<select class="custom-select" id="cdPacienteMovimentoCama"
													th:field="*{cdPacienteMovimentoCama}">
													<option value="">...</option>
													<option
														th:each="scdpacientemovimentocama : ${selectcdpacientemovimentocama}"
														th:value="${scdpacientemovimentocama.cdTipoMovimentacaoCama}"
														th:text="${scdpacientemovimentocama.txTipoMovimentacaoCama}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											17. Como o Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue tomar banho atualmente ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											17. Como o Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue tomar banho atualmente ? - Katz
										</h6>

										<div class="col-sm-8">
											<div class="form-group">
												<select class="custom-select" id="cdPacienteTipoBanho"
													th:field="*{cdPacienteTipoBanho}">
													<option value="">...</option>
													<option
														th:each="scdpacientetipobanho : ${selectcdpacientetipobanho}"
														th:value="${scdpacientetipobanho.cdTipoBanho}"
														th:text="${scdpacientetipobanho.txTipoBanho}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">18. E a
											alimentação ? Está como ?</h6>
											
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">18. E a
											alimentação ? Está como ? - Braden</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteAlimentacaoQualidade"
													th:field="*{cdPacienteAlimentacaoQualidade}">
													<option value="">...</option>
													<option
														th:each="scdpacientealimentacaoqualidade : ${selectcdpacientealimentacaoqualidade}"
														th:value="${scdpacientealimentacaoqualidade.cdAlimentacaoQualidade}"
														th:text="${scdpacientealimentacaoqualidade.txAlimentacaoQualidade}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											19. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se alimentar atualmente ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											19. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se alimentar atualmente ? - Katz
										</h6>

										<div class="col-sm-8">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteAlimentacaoComoAtualmente"
													th:field="*{cdPacienteAlimentacaoComoAtualmente}">
													<option value="">...</option>
													<option
														th:each="scdpacientealimentacaocomoatualmente : ${selectcdpacientealimentacaocomoatualmente}"
														th:value="${scdpacientealimentacaocomoatualmente.cdAlimentacaoTipos}"
														th:text="${scdpacientealimentacaocomoatualmente.txAlimentacaoTipos}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											20. E com essa alimentação, o Sr.(a) <span
												th:text="*{txNomeSegurado}"></span> está com que Estado
											Nutricional ?
										</h6>

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											20. E com essa alimentação, o Sr.(a) <span
												th:text="*{txNomeSegurado}"></span> está com que Estado
											Nutricional ? - Nead
										</h6>


										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteAlimentacaoEstadoNutricional"
													th:field="*{cdPacienteAlimentacaoEstadoNutricional}">
													<option value="">...</option>
													<option
														th:each="scdpacientealimentacaoestadonutricional : ${selectcdpacientealimentacaoestadonutricional}"
														th:value="${scdpacientealimentacaoestadonutricional.cdAlimentacaoEstadoNutricional}"
														th:text="${scdpacientealimentacaoestadonutricional.txAlimentacaoEstadoNutricional}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">21.
											Atualmente, essa alimentação ou os medicamentos estão pela
											boca ou por outra forma (como por sonda no nariz ou na
											barriga) ?</h6>
											
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">21.
											Atualmente, essa alimentação ou os medicamentos estão pela
											boca ou por outra forma (como por sonda no nariz ou na
											barriga) ? - Nead</h6>											

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteAlimentacaoTipoMedicamentos"
													th:field="*{cdPacienteAlimentacaoTipoMedicamentos}">
													<option value="">...</option>
													<option
														th:each="scdpacientealimentacaotipomedicamentos : ${selectcdpacientealimentacaotipomedicamentos}"
														th:value="${scdpacientealimentacaotipomedicamentos.cdAlimentacaoFormaMedicamentos}"
														th:text="${scdpacientealimentacaotipomedicamentos.txAlimentacaoFormaMedicamentos}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											22. Se está com Alimentação Parenteral – dieta pela ‘veia’ em
											qual horário o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											toma?? (composta basicamente por carboidratos, aminoácidos,
											glicose, gorduras, proteínas, eletrólitos, sais minerais e
											vitaminas. Quando por algum motivo a Dieta Enteral não puder
											ser realizada. Dieta Parenteral será administrada de forma
											intravenosa, por meio de cateter, diretamente na veia.)
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											22. Se está com Alimentação Parenteral – dieta pela ‘veia’ em
											qual horário o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											toma?? (composta basicamente por carboidratos, aminoácidos,
											glicose, gorduras, proteínas, eletrólitos, sais minerais e
											vitaminas. Quando por algum motivo a Dieta Enteral não puder
											ser realizada. Dieta Parenteral será administrada de forma
											intravenosa, por meio de cateter, diretamente na veia.) - Nead
										</h6>

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteTipoAlimentacaoParenteral"
													th:field="*{cdPacienteTipoAlimentacaoParenteral}">
													<option value="">...</option>
													<option
														th:each="scdpacientetipoalimentacaoparenteral : ${selectcdpacientetipoalimentacaoparenteral}"
														th:value="${scdpacientetipoalimentacaoparenteral.cdAlimentacaoParenteral}"
														th:text="${scdpacientetipoalimentacaoparenteral.txAlimentacaoParenteral}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											23. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se vestir atualmente ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											23. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se vestir atualmente ? - Katz
										</h6>

										<div class="col-sm-10">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteModoVestirAtualmente"
													th:field="*{cdPacienteModoVestirAtualmente}">
													<option value="">...</option>
													<option
														th:each="scdpacientemodovestiratualmente : ${selectcdpacientemodovestiratualmente}"
														th:value="${scdpacientemodovestiratualmente.cdTipoVestir}"
														th:text="${scdpacientemodovestiratualmente.txTipoVestir}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											24. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue ir ao banheiro atualmente ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											24. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue ir ao banheiro atualmente ? - Katz
										</h6>

										<div class="col-sm-10">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteModoBanheiroAtualmente"
													th:field="*{cdPacienteModoBanheiroAtualmente}">
													<option value="">...</option>
													<option
														th:each="scdpacientemodobanheiroatualmente : ${selectcdpacientemodobanheiroatualmente}"
														th:value="${scdpacientemodobanheiroatualmente.cdTipoIdaBanheiro}"
														th:text="${scdpacientemodobanheiroatualmente.txTipoIdaBanheiro}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">

									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											25. O(A) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											controle suas vontades de ir ao banheiro atualmente ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											25. O(A) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											controle suas vontades de ir ao banheiro atualmente ? - Katz
										</h6>

										<div class="col-sm-6">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteVontadeBanheiroAtualmente"
													th:field="*{cdPacienteVontadeBanheiroAtualmente}">
													<option value="">...</option>
													<option
														th:each="scdpacientevontadebanheiroatualmente : ${selectcdpacientevontadebanheiroatualmente}"
														th:value="${scdpacientevontadebanheiroatualmente.cdTipoControleBanheiro}"
														th:text="${scdpacientevontadebanheiroatualmente.txTipoControleBanheiro}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											26. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se alimentar atualmente ?
										</h6>

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											26. Como o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											consegue se alimentar atualmente ? - Katz
										</h6>


										<div class="col-sm-8">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteAlimentarAtualmente"
													th:field="*{cdPacienteAlimentarAtualmente}">
													<option value="">...</option>
													<option
														th:each="scdpacientealimentaratualmente : ${selectcdpacientealimentacaocomoatualmente}"
														th:value="${scdpacientealimentaratualmente.cdAlimentacaoTipos}"
														th:text="${scdpacientealimentaratualmente.txAlimentacaoTipos}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											27. Sabe se o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está sendo aspirado com sonda na traqueotomia (pescoço)
											quantas vezes por dia ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											27. Sabe se o(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está sendo aspirado com sonda na traqueotomia (pescoço)
											quantas vezes por dia ? - Nead
										</h6>

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select" id="cdPacienteAspiradoSonda"
													th:field="*{cdPacienteAspiradoSonda}">
													<option value="">...</option>
													<option
														th:each="scdpacienteaspiradosonda : ${selectcdpacienteaspiradosonda}"
														th:value="${scdpacienteaspiradosonda.cdTipoAspiracaoSonda}"
														th:text="${scdpacienteaspiradosonda.txTipoAspiracaoSonda}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">28.
											Então, Sabe se está sendo aspirado na boca ou nariz para
											tirar aquela secreção ?</h6>
											
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">28.
											Então, Sabe se está sendo aspirado na boca ou nariz para
											tirar aquela secreção ? - Nead</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteAspiradoBocaNariz"
													th:field="*{cdPacienteAspiradoBocaNariz}">
													<option value="">...</option>
													<option
														th:each="scdpacienteaspiradobocanariz : ${selectcdpacienteaspiradobocanariz}"
														th:value="${scdpacienteaspiradobocanariz.cdTipoAspiracaoBocaNariz}"
														th:text="${scdpacienteaspiradobocanariz.txTipoAspiracaoBocaNariz}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											29. O(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está com aparelho para ajudar na respiração (Ventil. Mecanica
											Contínua Invasiva ou Não) ?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											29. O(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está com aparelho para ajudar na respiração (Ventil. Mecanica
											Contínua Invasiva ou Não) ? - Nead
										</h6>
										


										<div class="row">

											<!-- SELECT -->
											<div class="col-sm-2">
												<div class="form-group">
													<select class="custom-select"
														id="ckPacienteAparelhoRespiracao"
														th:field="*{ckPacienteAparelhoRespiracao}">
														<option value="">...</option>
														<option value="2">NÃO</option>
														<option value="1">SIM</option>
													</select>
												</div>
											</div>


											<div class="col-sm-4">
												<div class="form-group">
													<select class="custom-select"
														id="cdPacienteAparelhoRespiracao"
														th:field="*{cdPacienteAparelhoRespiracao}">
														<option value="">...</option>
														<option
															th:each="scdpacienteaparelhorespiracao : ${selectcdpacientetipoalimentacaoparenteral}"
															th:value="${scdpacienteaparelhorespiracao.cdAlimentacaoParenteral}"
															th:text="${scdpacienteaparelhorespiracao.txAlimentacaoParenteral}"></option>
													</select>
												</div>
											</div>

										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">30. O
											paciente está fazendo Exercícios Ventilatórios ? (aqueles com
											aparelhos para ajudar na respiração e pulmão)</h6>
											
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">30. O
											paciente está fazendo Exercícios Ventilatórios ? (aqueles com
											aparelhos para ajudar na respiração e pulmão) - Nead</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteExerciciosVentilatorios"
													th:field="*{cdPacienteExerciciosVentilatorios}">
													<option value="">...</option>
													<option
														th:each="scdpacienteexerciciosventilatorios : ${selectcdpacienteexerciciosventilatorios}"
														th:value="${scdpacienteexerciciosventilatorios.cdTipoExeciciosVentilatorios}"
														th:text="${scdpacienteexerciciosventilatorios.txTipoExeciciosVentilatorios}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">31. o
											paciente está utilizando Oxigênio ?</h6>
											
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">31. o
											paciente está utilizando Oxigênio ? - Nead</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteUtilizandoOxigenio"
													th:field="*{cdPacienteUtilizandoOxigenio}">
													<option value="">...</option>
													<option
														th:each="scdpacienteutilizandooxigenio : ${selectcdpacienteutilizandooxigenio}"
														th:value="${scdpacienteutilizandooxigenio.cdTipoUsoOxigenio}"
														th:text="${scdpacienteutilizandooxigenio.txTipoUsoOxigenio}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">32. Como
											o paciente está recebendo o oxigênio?</h6>

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select" id="cdPacienteTipoOxigenio"
													th:field="*{cdPacienteTipoOxigenio}">
													<option value="">...</option>
													<option
														th:each="scdpacientetipooxigenio : ${selectcdoxigenoterapia}"
														th:value="${scdpacientetipooxigenio.cdCodigo}"
														th:text="${scdpacientetipooxigenio.txDescricao}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">33. Como
											paciente recebia oxigênio antes da internação?</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">33. Como
											paciente recebia oxigênio antes da internação? - Nead</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteTipoOxigenioAntes"
													th:field="*{cdPacienteTipoOxigenioAntes}">
													<option value="">...</option>
													<option
														th:each="scdpacientetipooxigenioantes : ${selectcdoxigenoterapia}"
														th:value="${scdpacientetipooxigenioantes.cdCodigo}"
														th:text="${scdpacientetipooxigenioantes.txDescricao}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">
											34. O(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está com medicação na ‘veia’ (Medicação Parenteral ou
											Hipodermoclise)?
										</h6>
										
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">
											34. O(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span>
											está com medicação na ‘veia’ (Medicação Parenteral ou
											Hipodermoclise)? - Nead
										</h6>

										<div class="row">

											<div class="col-sm-2">
												<div class="form-group">
													<select class="custom-select" id="ckPacienteMedicacaoVeia"
														th:field="*{ckPacienteMedicacaoVeia}">
														<option value="">...</option>
														<option value="2">NÃO</option>
														<option value="1">SIM</option>
													</select>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<select class="custom-select" id="cdPacienteMedicacaoVeia"
														th:field="*{cdPacienteMedicacaoVeia}">
														<option value="">...</option>
														<option
															th:each="scdpacientemedicacaoveia : ${selectcdpacientemedicacaoveia}"
															th:value="${scdpacientemedicacaoveia.cdUsoMedicacaoParenteal}"
															th:text="${scdpacientemedicacaoveia.txUsoMedicacaoParenteal}"></option>
													</select>
												</div>
											</div>

										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} > 1">35. Como
											paciente recebia oxigênio antes da internação?</h6>
											
										<h6 style="padding-top: 10px" class="blue bold" th:if="${cdGrupoVisao} == 1">35. Como
											paciente recebia oxigênio antes da internação? - Nead</h6>	

										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select"
													id="cdPacienteMedicacaoAdministradas"
													th:field="*{cdPacienteMedicacaoAdministradas}">
													<option value="">...</option>
													<option
														th:each="scdpacientemedicacaoadministradas : ${selectcdpacientemedicacaoadministradas}"
														th:value="${scdpacientemedicacaoadministradas.cdMedicacoesAdministradas}"
														th:text="${scdpacientemedicacaoadministradas.txMedicacoesAdministradas}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">36. Katz</h6>

										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue" id="cdPacienteKatz"
													th:field="*{cdPacienteKatz}">
													<option value="">...</option>
													<option th:each="scdpacientekatz : ${selectcdpacientekatz}"
														th:value="${scdpacientekatz.cdTipoKatz}"
														th:text="${scdpacientekatz.txTipoKatz}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>


								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">37. Sabe
											informar se o Paciente possui alguma pendências aguardando
											autorização para o tratamento do paciente?</h6>
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="cdPacientePendenciaTratamento"
													th:field="*{cdPacientePendenciaTratamento}">
													<option value="">...</option>
													<option
														th:each="scdpacientependenciatratamento : ${selectcdpacientependenciatratamento}"
														th:value="${scdpacientependenciatratamento.cdPendenciaTratamento}"
														th:text="${scdpacientependenciatratamento.txPendenciaTratamento}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">38. Sabe
											informar quais serão as necessidades (programação de
											atendimento) do paciente após alta hospitalar ?</h6>
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="cdPacienteNecessidadesAposAlta"
													th:field="*{cdPacienteNecessidadesAposAlta}">
													<option value="">...</option>
													<option
														th:each="scdpacientenecessidadesaposalta : ${selectcdpacientenecessidadesaposalta}"
														th:value="${scdpacientenecessidadesaposalta.cdNecessidadeAposAlta}"
														th:text="${scdpacientenecessidadesaposalta.txNecessidadeAposAlta}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">39.
											Paciente possuía algum atendimento em casa, como home care,
											médico, enfermeiro, entre outros, antes de internar no
											hospital ?</h6>
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="ckPacienteAtendimentoCasa"
													th:field="*{ckPacienteAtendimentoCasa}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>

												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">40. Sabe
											informar qual empresa que cuidava do paciente no sistema de
											Home Care ?</h6>
										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="cdPacienteEmpresaHomecare"
													th:field="*{cdPacienteEmpresaHomecare}">
													<option value="">...</option>
													<option
														th:each="sckpacienteempresahomecare : ${selectckpacienteempresahomecare}"
														th:value="${sckpacienteempresahomecare.cdEmpresaHomecare}"
														th:text="${sckpacienteempresahomecare.txEmpresaHomecare}"></option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">
											41. O(a) Sr.(a) <span th:text="*{txNomeSegurado}"></span> já
											possui médico que ele visita regularmente para a doença que
											ele internou ?
										</h6>
										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="ckPacienteMedicoRegularmente"
													th:field="*{ckPacienteMedicoRegularmente}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">42. O
											médico é perto da residência do paciente ?</h6>
										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="ckPacienteMedicoPertoResidencia"
													th:field="*{ckPacienteMedicoPertoResidencia}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">
											43. Gostaria que a SAS indicasse um médico para atender O(a)
											Sr.(a) <span th:text="*{txNomeSegurado}"></span> ?
										</h6>
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="ckPacienteOperadoraIndicarMedico"
													th:field="*{ckPacienteOperadoraIndicarMedico}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<div class="card">
									<div class="card-body">

										<h6 style="padding-top: 10px" class="blue bold">44. Há
											alguma dúvida ou orientação clínica que possamos ajuda-los ?</h6>
										<div class="col-sm-4">
											<div class="form-group">
												<select class="custom-select blue"
													id="ckPacienteAlgumaDuvida"
													th:field="*{ckPacienteAlgumaDuvida}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<hr></hr>
								<div class="row">
									<h5 class="blue bold">Mensagem</h5>
								</div>

								<div class="row">
									<!-- INPUT TEXT -->
									<div class="col-sm-12">
										<div class="form-group">
											<label for="txMensagemResposta"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txMensagemResposta');"><strong>Mensagem
														- Saudecare</strong></a></label>
											<textarea rows="10" style="width: 100%" placeholder=""
												th:field="*{txMensagemResposta}">Mensagem</textarea>
										</div>
									</div>
								</div>

								<div class="row">
									<!-- INPUT TEXT -->
									<div class="col-sm-12">
										<div class="form-group">
											<label for="txQuestionario"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txQuestionario');"><strong>Resumo
														- Questionário</strong></a></label>
											<textarea rows="10" style="width: 100%" placeholder=""
												th:field="*{txQuestionario}" readonly="readonly">Mensagem</textarea>
										</div>
									</div>
								</div>

								<h5 class="blue bold">Status Final</h5>

								<div class="row">

									<input type="hidden" id="ckConfirmRecebimento"
										name="ckConfirmRecebimento" th:field="*{ckConfirmRecebimento}" />
									<input type="hidden" id="ckEncerrado" name="ckEncerrado"
										th:field="*{ckEncerrado}" /> <input type="hidden"
										id="ckTotalizador" name="ckTotalizador"
										th:field="*{ckTotalizador}" />

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txNomeUsuario"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txNomeUsuario');"><strong>Nome
														Usuário</strong></a></label> <input type="text" class="form-control-plaintext"
												id="txNomeUsuario" name="txNomeUsuario"
												th:field="*{txNomeUsuario}" readonly="readonly" />
										</div>
									</div>

									<!-- SELECT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="cdStatus"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdStatus');"><strong>Status</strong></a></label>
											<select class="custom-select" id="cdStatus"
												th:field="*{cdStatus}">
												<option value="">...</option>
												<option th:each="scdstatus : ${selectcdstatus}"
													th:value="${scdstatus.cdStatus}"
													th:text="${scdstatus.txStatus}">Status</option>
											</select>
										</div>
									</div>


									<!-- SELECT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="cdRespostaDefinitiva"><a
												class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','cdRespostaDefinitiva');"><strong>Tipo
														Envio?</strong></a></label> <select class="custom-select"
												id="cdRespostaDefinitiva" th:field="*{cdRespostaDefinitiva}">
												<option value="">...</option>
												<option value="1">Entrada</option>
												<option value="0">Comentário</option>
											</select>
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="dtUltimoEnvio"><a class="light-blue"
												href="javascript: logField('TabRetornoConsultaTratativaService','txUltimoEnvio');"><strong>Ultimo
														Envio p/Sulamerica</strong></a></label> <input type="text"
												class="form-control-plaintext" id="txUltimoEnvio"
												name="txUltimoEnvio" readonly="readonly"
												th:field="*{dtUltimoEnvio}" />
										</div>
									</div>

								</div>

								<hr></hr>
								<div class="row">
									<div class="card-body" align="center"
										th:if="*{dtCancelamento} == null" id="btnGravar">
										<button class="btn btn-success"
											onclick="javascript: gravar('tabRetornoConsultaTratativaObj');">Gravar</button>
									</div>
									<div class="card-body" align="center"
										th:if="*{dtCancelamento} == null" id="btnGravarFlexivel">
										<button type="button" class="btn btn-info"
											th:onclick="|javascript: gravarFlexivel('/tratativav3/enviarsulamerica',null,true,'/tratativav3/consultar/${cdCodigo}');|">Enviar
											Sulamerica</button>
									</div>
									<div class="card-body" align="center"
										th:if="*{dtCancelamento} != null" id="btnLiberarInativo">
										<button type="button" class="btn btn-info"
											onclick="javascript: gravarFlexivel('/tratativav3/liberarinativo');">Liberar
											Inativo</button>
									</div>

								</div>
								<input type="hidden" id="cdtipo" name="cdtipo"
									th:field="*{cdTipo}" />

							</fieldset>
						</form>
					</div>
					<!-- Modal Inicio  -->
					<div class="modal fade" id="exampleModalLong" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLongTitle"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Resumo
										Questionário</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">...</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal Final -->
				</section>
			</div>
		</div>
	</div>


	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/
	 
	function gravaCid(cdCodigoCid, cdCodigo, cdTipo, cdSubcategoria) {
		showPleaseWait('Solicitando... Aguarde...');
	 
	 var link = 	/*[[@{/tratativav3/gravarcid}]]*/ null;
	 
 	var codigo = $("#" + cdCodigo).val();
 	var codigoCid = $("#" + cdCodigoCid).val();
 	var tipo = $("#" + cdTipo).val();
 	var subcategoria = $("#" + cdSubcategoria).val();
 	
	 $.ajax({
 			type: 'POST',
 			url: link,
 			async: true,
 			contentType: 'application/json',
 			dataType: 'json',
 			data: JSON.stringify({
 				cdCodigo: codigo,
 				cdCodigoCid: codigoCid,
 				cdTipo: tipo,
 				tabCidSubcategoriaObj: {
 					cdSubcategoria: subcategoria	
 				}
 			})
 		}).done(function (result) {
 			hidePleaseWait();
 			location.reload();
 		});
	 }
	 
	 $(document).ready(function() {	
		 var cdTipo = /*[[${tipoMensagem}]]*/ 
		 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
 		 jtpNotify(/*[[${listaErros}]]*/);
 		 
 		var txEdit = /*[[${txEdit}]]*/; 
		 if (txEdit != null) { 
			 $('#viewtratativa').modal('show'); 
		 } 
		
			//Permissões 
			var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
			checkPermissaoBotao(listPermissaoBotao);

			var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
			checkPermissaoCampos(listPermissaoCampos); 

			//Service 
			var txService = /*[[${txService}]]*/; 
			analistaVirtual(txService); 
			var pathUrl = /*[[@{/}]]*/; 	
		
			/*
			var urlGravacao = pathUrl+"gestaoimportacao/gravarmodal";
			 var linksTratativa = [
                   {
                   	"url":"javascript: gravarModal(\""+urlGravacao+"\", \"\", \"#gestaoimportacaoatracacao\");",
                       "bgcolor":"#346cb0",
                       "title":"Gravar",
                       "icon":"fas fa-save"
                   }
               ]			 			 
               $('.btGravarTratativa').kc_fab(linksTratativa);
			*/
	 
			
			// Lookup lkcid2  
			var lkcid2 = { 
					 url: function(value) { 
							return pathUrl+'lookups/lkcid/' + value ;  
						}, 
						minCharNumber: 2, 
						requestDelay: 300, 
						ajaxSettings: { 
							contentType: 'application/json' 
						},	
					    getValue: function(element) { 
					        return element.txDescricaoAbreviada; 
					    }, 
					    list: { 
					    	maxNumberOfElements: 50,
					        onSelectItemEvent: function() { 
					            var selectedItemValue = $("#txDescCid2").getSelectedItemData().cdSubcategoria; 
					            $("#txCid2").val(selectedItemValue).trigger("change"); 
					        } 
					    }, 
					    cssClasses: "lookup"
					}; 
					$("#txDescCid2").easyAutocomplete(lkcid2);
					
					
					// Lookup lkcid3  
					var lkcid3 = { 
							 url: function(value) { 
									return pathUrl+'lookups/lkcid/' + value ;  
								}, 
								minCharNumber: 2, 
								requestDelay: 300, 
								ajaxSettings: { 
									contentType: 'application/json' 
								},	
							    getValue: function(element) { 
							        return element.txDescricaoAbreviada; 
							    }, 
							    list: { 
							    	maxNumberOfElements: 50,
							        onSelectItemEvent: function() { 
							            var selectedItemValue = $("#txDescCid3").getSelectedItemData().cdSubcategoria; 
							            $("#txCid3").val(selectedItemValue).trigger("change"); 
							        } 
							    }, 
							    cssClasses: "lookup"
							}; 
							$("#txDescCid3").easyAutocomplete(lkcid3);					
			
	 });
 /*]]>*/ 
</script>

	<script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      
      $('#datatable1').DataTable({
          "pagingType": "full_numbers",
          "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
          ],
          responsive: true,
          language: {
            search: "_INPUT_",
            searchPlaceholder: "Search records",
          }

        });

        var table = $('#datatable1').DataTable();
      
        $('#datatable2').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
              [10, 25, 50, -1],
              [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
              search: "_INPUT_",
              searchPlaceholder: "Search records",
            }

          });

          var table = $('#datatable2').DataTable();
        
      // Edit record
      /*
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });
	*/

	// Delete a record
	/*
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
      */
      
    });
  </script>



</section>

</html>