<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}" />
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    GoHosp - Sulamerica
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <!-- CSS Files -->
  <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/assets/css/now-ui-dashboard.css?v=1.4.1}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
  <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/assets/css/easy-autocomplete.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/easy-autocomplete.themes.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/toastr.min.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/kc.fab.css}"/>
  
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css" />
  
  
  <!-- <script th:src="@{/assets/js/core/jquery.min.js}"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>  
  
  
  
</head>

<body class=" sidebar-mini ">
  <div class="wrapper ">
    <div class="sidebar" data-color="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          <img class="img-fluid" alt="" th:src="@{/assets/img/gohosp-simbologia-branco.png}" />
        </a>
        <a href="#" class="simple-text logo-normal">
          GoHosp
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <div class="user">
          <div class="photo">
            <img th:src="@{/assets/img/james.jpg}" />
          </div>
          <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span th:text="${txUsuario}">
                James Amos
                <b class="caret"></b>
              </span>
            </a>            
          </div>
        </div>
        <ul class="nav">
          <li class="active">
            <a href="/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a data-toggle="collapse" href="#administracao">
              <i class="now-ui-icons ui-2_settings-90"></i>
              <p>
                Administração
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="administracao">
              <ul class="nav">
                <li>
                  <a href="/admbotao">
                    <span class="sidebar-mini-icon">B</span>
                    <span class="sidebar-normal"> Botões </span>
                  </a>
                </li>
                <li>
                  <a href="/admcampos">
                    <span class="sidebar-mini-icon">C</span>
                    <span class="sidebar-normal"> Campos </span>
                  </a>
                </li>
                <li>
                  <a href="/admtelas">
                    <span class="sidebar-mini-icon">T</span>
                    <span class="sidebar-normal"> Telas </span>
                  </a>
                </li>
                <li>
                  <a href="/admregras">
                    <span class="sidebar-mini-icon">R</span>
                    <span class="sidebar-normal"> Regras </span>
                  </a>
                </li>
                <li>
                  <a href="/admmenu">
                    <span class="sidebar-mini-icon">M</span>
                    <span class="sidebar-normal"> Menu </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a data-toggle="collapse" href="#cadastros">
              <i class="now-ui-icons files_paper"></i>
              <p>
                Cadastros
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="cadastros">
              <ul class="nav">
             	 <li>
                  <a href="javascript: alert('Em desenvolvimento!');">
                    <span class="sidebar-mini-icon">G</span>
                    <span class="sidebar-normal"> Grupo de Visão </span>
                  </a>
                </li> 
                <li>
                  <a href="/usuariopesquisa">
                    <span class="sidebar-mini-icon">U</span>
                    <span class="sidebar-normal"> Usuários </span>
                  </a>
                </li>                                               
              </ul>
            </div>
          </li>
          <li>
            <a data-toggle="collapse" href="#tratativas">
              <i class="now-ui-icons education_atom"></i>
              <p>
                Tratativas
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="tratativas">
              <ul class="nav">
                <li>
                  <a th:href="@{/tratativas/listartratativas/2}">
                    <span class="sidebar-mini-icon">G</span>
                    <span class="sidebar-normal"> Gerenciamento </span>
                  </a>
                </li> 
                <li>
                  <a th:href="@{/pacientes/listarpacientes/1}">
                    <span class="sidebar-mini-icon">G</span>
                    <span class="sidebar-normal"> Gerenciamento V2 </span>
                  </a>
                </li> 
              
                <li>
                  <a th:href="@{/tratativapesquisav1}">
                    <span class="sidebar-mini-icon">P</span>
                    <span class="sidebar-normal"> Pesquisas V1 </span>
                  </a>
                </li> 
               <li>
                  <a th:href="@{/tratativapesquisa}">
                    <span class="sidebar-mini-icon">P</span>
                    <span class="sidebar-normal"> Pesquisas V2 </span>
                  </a>
                </li>  
                <li>
                  <a href="javascript: openWindowSimple('/graficos','_blank');">
                    <span class="sidebar-mini-icon">G</span>
                    <span class="sidebar-normal"> Gráficos </span>
                  </a>
                </li>                 
              </ul>
            </div>
          </li>
          
          
          <li>
            <a data-toggle="collapse" href="#faturamento">
              <i class="now-ui-icons education_atom"></i>
              <p>
                Faturamento
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="faturamento">
              <ul class="nav">
                <li>
                  <a th:href="@{/faturamento}">
                    <span class="sidebar-mini-icon">F</span>
                    <span class="sidebar-normal"> Faturamento </span>
                  </a>
                </li> 
                <li>
                  <a th:href="@{/tabelaprecos}">
                    <span class="sidebar-mini-icon">T</span>
                    <span class="sidebar-normal"> Tabela de Preços </span>
                  </a>
                </li> 
              
                              
              </ul>
            </div>
          </li>
          
                   <li>
            <a data-toggle="collapse" href="#relatorios">
              <i class="now-ui-icons education_atom"></i>
              <p>
                Relatórios
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="relatorios">
              <ul class="nav">
                <li>
                  <a th:href="@{/multirelatorios}">
                    <span class="sidebar-mini-icon">M</span>
                    <span class="sidebar-normal"> Multirelatórios</span>
                  </a>
                </li> 
              
                              
              </ul>
            </div>
          </li>
          
          
          <li>
            <a data-toggle="collapse" href="#componentsExamples">
              <i class="now-ui-icons ui-2_settings-90"></i>
              <p>
                Produção
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="componentsExamples">
              <ul class="nav">
                <li>
                  <a href="javascript: tratativasTeste(1);">
                    <span class="sidebar-mini-icon">V</span>
                    <span class="sidebar-normal"> Verificar </span>
                  </a>
                </li>
                <li>
                  <a href="javascript: tratativasTeste(2);">
                    <span class="sidebar-mini-icon">C</span>
                    <span class="sidebar-normal"> Confirmação de Recebimento </span>
                  </a>
                </li> 
              </ul>
            </div>
          </li>

          <li>
          <a th:href="@{/logout}">
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Sair</p>
            </a>            
          </li>          
          
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button> 
            </div>
            <a class="navbar-brand" th:text="${pathtela}">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
           
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header" style="height: 20px; padding-top: 20px;">
      </div>
    
        <section layout:fragment="pagecontent" >
	  				<p>Page Content</p>
		</section>
       
    </div>
  </div>
 <!--   Core JS Files   -->
  <script th:src="@{/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
  <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>
  
  <!-- Forms Validations Plugin -->
  <script th:src="@{/assets/js/plugins/jquery.validate.min.js}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script th:src="@{/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script th:src="@{/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script th:src="@{/assets/js/plugins/jquery.dataTables.min.js}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script th:src="@{/assets/js/plugins/bootstrap-tagsinput.js}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script th:src="@{/assets/js/plugins/jasny-bootstrap.min.js}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script th:src="@{/assets/js/plugins/fullcalendar.min.js}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script th:src="@{/assets/js/plugins/jquery-jvectormap.js}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script th:src="@{/assets/js/plugins/nouislider.min.js}"></script>  
  <!-- Chart JS -->
  <script th:src="@{/assets/js/plugins/chartjs.min.js}"></script>
  <!--  Notifications Plugin    -->
  <script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{/assets/js/now-ui-dashboard.min.js?v=1.4.1}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script th:src="@{/assets/demo/demo.js}"></script>  
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>

  <script th:src="@{/assets/js/jquery.easy-autocomplete.js}"></script>
  <script th:src="@{/assets/js/jtpautocompletesimple.js}"></script>
  <script th:src="@{/assets/js/toastr.min.js}"></script>
  <script th:src="@{/assets/js/jtploading.js}"></script>
  <script th:src="@{/assets/js/jquery.priceformat.min.js}"></script>
  <script th:src="@{/assets/js/jquery.maskMoney.min.js}"></script>
  <script th:src="@{/assets/js/kc.fab.js}"></script>
  <!--  Plugin for Sweet Alert -->
  <script th:src="@{/assets/js/plugins/sweetalert2.min.js}"></script>
  <script th:src="@{/assets/js/jtputil.js}"></script>




	<script type="text/javascript">
		$(document).ready(
				function() {
					
					//waitingDialog.hide();
					hidePleaseWait();
					
				});
	</script>
  
</body>

</html>