<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="pacientescidhospital" th:if="${ckPacientesCidHospital} != null">

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title blue bold" th:text="${tituloRelatorio}">DataTables.net</h4>
					</div>
					<div class="card-body">
						<div class="toolbar">
							<!--        Here you can write extra buttons/actions for the toolbar              -->
						</div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">CID</th>
									<th class="bold disabled-sorting">Hospital</th>
									<th class="bold disabled-sorting">Qtde</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listDados : ${listdados}" >
									<td class="blue" th:text="${listDados.txCid2}">Tiger
										Nixon</td>
									<td class="blue" th:text="${listDados.txHospital}">System
										Architect</td>	
									<td class="blue" th:text="${listDados.vlQtde}">System
										Architect</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- end content-->
				</div>
				<!--  end card  -->
			</div>
			<!-- end col-md-12 -->
		</div>
		
</div>
</html>		