<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	    

	<div class="content" style="min-height: 530px">	
	   
        <div class="row">
          <div class="col-md-12" style="background-color: white;">
          

<nav class="navbar blue">
<fieldset class="col-sm-12 jtp-fieldset">
<div class="row">
<div class="col-sm-8">	
	<legend class="blue">Filtros</legend>
	<div class="panel panel-default">
		<div class="panel-body">
		<form id="vwTabFaturamentoV2Obj" method="get" th:action="@{/faturamento}" th:object="${vwTabFaturamentoV2Obj}" >

<div class="row">
<!-- SELECT -->
<div class="col-sm-4">
 <div class="form-group">
	<label for="dtData" class="blue"><strong>Mês</strong></label>
	 <select class="custom-select blue" id="dtData" th:field="*{dtData}">
    <option value="">...</option>
 	<option value="01/10/2019">Outubro/19</option>
 	<option value="01/11/2019">Novembro/19</option>
 	<option value="01/12/2019">Dezembro/19</option>
 	<option value="01/01/2020">Janeiro/20</option>
 	<option value="01/02/2020">Fevereiro/20</option>
 	<option value="01/03/2020">Março/20</option>
 	<option value="01/04/2020">Abril/20</option>
 	<option value="01/05/2020">Maio/20</option>
 	<option value="01/06/2020">Junho/20</option>
 	<option value="01/07/2020">Julho/20</option>
 	<option value="01/08/2020">Agosto/20</option>
 	<option value="01/09/2020">Setembro/20</option>
 	<option value="01/10/2020">Outubro/20</option>
 	<option value="01/11/2020">Novembro/20</option>
 	<option value="01/12/2020">Dezembro/20</option>
 	<option value="01/01/2021">Janeiro/21</option>
 	<option value="01/02/2021">Fevereiro/21</option>
 	<option value="01/03/2021">Março/21</option>
 	<option value="01/04/2021">Abril/21</option>
 	<option value="01/05/2021">Maio/21</option>
 	<option value="01/06/2021">Junho/21</option>
 	<option value="01/07/2021">Julho/21</option>
 	<option value="01/08/2021">Agosto/21</option>
 	<option value="01/09/2021">Setembro/21</option>
 	<option value="01/10/2021">Outubro/21</option>
 	<option value="01/11/2021">Novembro/21</option>
 	<option value="01/12/2021">Dezembro/21</option>
  </select>
 </div>
</div>

<!-- SELECT -->
<div class="col-sm-4">
 <div class="form-group">
	<label for="dtStatusFaturamento" class="blue"><strong>Status Faturamento</strong></label>
	 <select class="custom-select blue" id="dtStatusFaturamento" th:field="*{dtStatusFaturamento}">
    <option value="">...</option>
 	<option value="dtEnviado">P/Inserir</option>
 	<option value="dtAutorizado">P/Autorizar</option>
 	<option value="dtValidado">P/Validar</option>
 	<option value="dtFaturadoAutorizado">P/Faturar Autorizado</option>
 	<option value="dtFaturado">P/Faturar</option>
 	<option value="dtFaturadoOK">Faturado</option>
  </select>
 </div>
</div>

<!-- INPUT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="txLote" class="blue"><strong>Lote</strong></label>
	 <input type="text" class="form-control blue" id="txLote" name="txLote"  />
 </div>
</div>
		
		<button type="button" onclick="javascript: gravar('vwTabFaturamentoV2Obj','Calculando o faturamento, aguarde...');" class="btn btn-success float-right" style="margin: 27px 0px 0px; max-height: 37px;">
			<strong>Pesquisar</strong>
		</button>
</div>
		</form>
		</div>
	</div>
	</div>
	
	<div class="col-sm-4">
	<div class="card" style="padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 5px">
	<legend class="blue">Gerar Faturamento</legend>
	<div class="panel panel-default">
		<div class="panel-body">
		
<div class="row">
	
	  <!-- INPUT -->
<div class="col-sm-6">
 <div class="form-group">
	<label for="txLote" class="blue"><strong>Lote</strong></label>
	 <input type="text" class="form-control blue" id="txLoteGerar" name="txLoteGerar" />
 </div>
</div>

		<button type="button" onclick="javascript: gerarXML();" class="btn btn-info float-right" style="margin: 25px 0px 0px; max-height: 37px;">
			<strong>XML</strong>
		</button>
		<button type="button" onclick="javascript: faturamentoGerarLote('tabFaturamentoGerarObj','Gerando faturamento em lote, aguarde...');" class="btn btn-warning float-right" style="margin: 25px 10px 0px; max-height: 37px;">
			<strong>LOTE</strong>
		</button>		
		</div>
		
		

	</div>
	</div>
</div>
</div>
	
	</div>
	

</fieldset>
</nav>

          </div>
        </div>
        
  
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title blue bold" th:text="${titulotratativa}">DataTables.net</h4>
              </div>
              <div class="card-body">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <form id="tabFaturamentoGerarObj" method="post" th:action="@{/faturamento/gerarlote}" >
                	<input type="hidden" id="dtDataGerar" name="dtDataGerar" th:value="${dtDataGerar}" />
					<input type="hidden" id="txLoteNovo" name="txLoteNovo" />
                
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="bold disabled-sorting" th:if="${ckCheckboxAll} != null"><input type="checkbox" class="form-group classcheckboxall"  /></th>                      
                      <th class="bold disabled-sorting">Nome</th>
                      <th class="bold disabled-sorting">Cód.Segurado</th>
                      <th class="bold disabled-sorting">No. VPP</th>
                      <th class="bold">Dt.Solicitação</th>
                      <th class="bold">Dt.1o.Contato</th>
                      <th class="bold disabled-sorting">Qtde</th>
                      <th class="bold disabled-sorting">Valor</th>
                      <th class="bold disabled-sorting">Descrição</th>
                      <th class="bold disabled-sorting">Inserido?</th>
                      <th class="bold disabled-sorting">Autorizado?</th>
                       <th class="bold disabled-sorting">Senha</th>
                      <th class="bold disabled-sorting">Validado?</th>
                      <th class="bold disabled-sorting">Lote</th>
                      <th class="bold disabled-sorting">Dt.Faturamento</th>
                      <th class="bold disabled-sorting">Lote Interno</th>
                    </tr>
                  </thead>                  
                  <tbody>
                    <tr th:each="listtratativa : ${listFaturamento}">
                      <td align="center" th:if="${ckCheckboxAll} != null"><input class="classcheckbox" type="checkbox" th:name="|ckAll${listtratativa.cdFaturamento}|" th:id="|ckAll${listtratativa.cdFaturamento}|" th:checked="${listtratativa.dtFaturado} != null ? 'checked'" /></td>
                      <td class="blue" th:text="${listtratativa.txNomeSegurado}">System Architect</td>
                      <td class="blue" th:text="${listtratativa.txCodSegurado}">System Architect</td>
                      <td class="blue" th:text="${listtratativa.txNumVpp}">System Architect</td>
                      <td class="blue" th:text="${{listtratativa.dtDataSolicitacao}}">61</td>
                      <td class="blue" th:text="${{listtratativa.dtPrimContato}}">61</td>
                      <td class="blue" th:text="${listtratativa.vlQtdeContatos}">61</td>
                      <td class="blue" th:text="${listtratativa.vlValor}">61</td>
                      <td class="blue" th:text="${listtratativa.txTabelaPreco}">61</td>
                      <td><input type="checkbox" th:name="|${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" th:id="|${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" class="checkboxinserido" th:checked="${listtratativa.dtEnviado} != null ? 'checked'" /></td>                     
                      <td><input type="checkbox" th:name="|ckAutorizado_${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" th:id="|ckAutorizado_${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" class="checkboxautorizado" th:checked="${listtratativa.dtAutorizado} != null ? 'checked'" /></td>
                      <td><input type="text" th:name="|txSenha${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" th:id="|txSenha${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" th:value="${listtratativa.txSenhaAutorizacao}" /></td>                     
                      <td align="center"><input type="checkbox" th:name="|${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" th:id="|${listtratativa.cdTratativa}-${listtratativa.cdFaturamento}|" class="checkboxvalidado" th:checked="${listtratativa.dtValidado} != null ? 'checked'" /></td>                     
                      <td class="blue" th:text="${listtratativa.txLote}">61</td>
                      <td class="blue" th:text="${{listtratativa.dtFaturado}}">61</td>
                      <td class="blue" th:text="${listtratativa.cdLoteInterno}">61</td>
                    </tr>
                  </tbody>
                </table>
                </form>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->	
        	
	</div>
	
	
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 $(document).ready(function() {	
		 var cdTipo = /*[[${tipoMensagem}]]*/ 
		 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
 		 jtpNotify(/*[[${listaErros}]]*/);
 		 
 		
		
	 		//Permissões 
			var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
			checkPermissaoBotao(listPermissaoBotao);

			var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
			checkPermissaoCampos(listPermissaoCampos); 

			//Service 
			var txService = /*[[${txService}]]*/; 
			analistaVirtual(txService); 
			var pathUrl = /*[[@{/}]]*/; 	
		
			
			
			

	 
	 });
 /*]]>*/ 
</script>	
	
  <script>
 
  
  $(document).ready(function() {
	  
	  $(".classcheckboxall").click(function() {			
			var ck = $(this).val();
			if(this.checked) {				
				$(".classcheckbox").prop('checked', true);
			}else {
				$(".classcheckbox").prop('checked', false);			
			}	
			console.log(this.id);
	   });
  	
	  $(".checkboxinserido").click(function() {			
			var ck = $(this).val();
			if(this.checked) {				
				gravarcondicaofaturamento(this.id,1,"on");
			}else {
			    gravarcondicaofaturamento(this.id,1,"off");			
			 }	
			console.log(this.id);
	   });
	  
	  $(".checkboxautorizado").click(function() {			

			var txIdAutorizacao = this.id.split("_");
			var vlId = txIdAutorizacao[1];

		  	if(this.checked) {				
				var txSenha = $("#txSenha"+vlId).val();
				if (txSenha.trim() === "") {
					jtpNotifySimple("Senha de autorização obrigatória!","error");
					$("#"+this.id).prop('checked', false);
				}else {
				  console.log("senha:"+txSenha);
				  gravarcondicaofaturamento(vlId,2,"on",txSenha);	
				}
			}else {
				gravarcondicaofaturamento(vlId,2,"off");
			}				
	   });

	  $(".checkboxvalidado").click(function() {			
			var ck = $(this).val();
			if(this.checked) {
				gravarcondicaofaturamento(this.id,3,"on");				
			}else {
				gravarcondicaofaturamento(this.id,3,"off");
			}	
			console.log(this.id);
	   });

	     var printCounter = 0; 
	     
	      $('#datatable').DataTable({
	        "pagingType": "full_numbers",
	        "ordering": false,
	        "scrollX": true,	        
	        "lengthMenu": [
	          [100, 200, 300, -1],
	          [100, 200, 300, "All"]
	        ],
	        dom: 'Bfrtip',
	        buttons:  [
	            'copy',
	            {
	                extend: 'excel',
	                messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
	            },
	            {
	                extend: 'pdf',
	                messageBottom: null
	            },
	            {
	                extend: 'print',
	                messageTop: function () {
	                    printCounter++;
	 
	                    if ( printCounter === 1 ) {
	                        return 'This is the first time you have printed this document.';
	                    }
	                    else {
	                        return 'You have printed this document '+printCounter+' times';
	                    }
	                },
	                messageBottom: null
	            }
	        ],
	        responsive: false,
	        language: {
	          search: "_INPUT_",
	          searchPlaceholder: "Search records",
	        }

	      });

	      var table = $('#datatable').DataTable();

	      // Edit record
	      /*
	      table.on('click', '.edit', function() {
	        $tr = $(this).closest('tr');
	        if ($($tr).hasClass('child')) {
	          $tr = $tr.prev('.parent');
	        }

	        var data = table.row($tr).data();
	        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
	      });
		*/

		// Delete a record
		/*
	      table.on('click', '.remove', function(e) {
	        $tr = $(this).closest('tr');
	        if ($($tr).hasClass('child')) {
	          $tr = $tr.prev('.parent');
	        }
	        table.row($tr).remove().draw();
	        e.preventDefault();
	      });

	      //Like record
	      table.on('click', '.like', function() {
	        alert('You clicked on Like button');
	      });
	      */
	      
	    });
  </script>
	
	
	
</section>

</html>