<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">


<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 

<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
   <div class="row">
     <div class="card-header"> 
        <h4 class="card-title blue bold" style="padding-left: 10px">Tabela de Preços</h4> 
     </div>
     <a th:href="@{/tabelaprecos/novo}" id="idNovo">
     <button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" > 
	<strong>Novo</strong> 
	</button>
	</a>
	  
	</div>
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Preço </th> 
                 <th class="bold disabled-sorting"> Descricão </th> 
                 <th class="bold disabled-sorting"> Tipo </th>
                 <th class="bold disabled-sorting"> De </th> 
                 <th class="bold disabled-sorting"> Até </th> 
                 <th class="bold disabled-sorting"> Valor </th>
                 <th class="bold disabled-sorting"> Tipo Operação </th> 
                  
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}" th:onclick="|javascript: abrirtela('@{/tabelaprecos/consultar}/${listdados.cdPreco}');|"> 
                 <td class="blue" th:text="${listdados.cdPreco}"> cdPreco </td> 
                 <td class="blue" th:text="${listdados.txDescricao}"> txDescricao </td> 
                 <td class="blue" th:text="${listdados.txTipo}"> txTipo </td> 
                 <td class="blue" th:text="${listdados.vlDe}"> vlDe </td> 
                 <td class="blue" th:text="${listdados.vlAte}"> vlAte </td> 
                 <td class="blue" th:text="${{listdados.vlValor}}"> vlValor </td> 
                 <td class="blue" th:text="${{listdados.txTipoOperacao}}"> Tipo Operacao </td>
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabPrecosObj" method="post" th:action="@{/tabelaprecos}" th:object="${tabPrecosObj}">
<div class="modal fade" id="tabelaprecos" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 

  <input type="hidden" id="cdPreco" name="cdPreco"  th:field="*{cdPreco}"/>


<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txDescricao"><a class="blue" href="javascript: logField('TabPrecosService','txDescricao');"><strong>Descrição</strong></a></label>
  <input type="text" class="form-control" id="txDescricao" name="txDescricao"  th:field="*{txDescricao}"/>
</div>
</div>

<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="cdTipo" ><a class="blue" href="javascript: logField('TabPrecosService','cdTipo');"><strong>Tipo</strong></a></label>
	 <select class="custom-select" id="cdTipo" th:field="*{cdTipo}">
    <option value="">...</option>
    <option th:each="scdtipo : ${selectcdprecotipo}" th:value="${scdtipo.cdPrecoTipo}" th:text="${scdtipo.txPrecoTipo}"></option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="vlDe"><a class="blue" href="javascript: logField('TabPrecosService','vlDe');"><strong>De</strong></a></label>
  <input type="text" class="form-control" id="vlDe" name="vlDe"  th:field="*{vlDe}"/>
</div>
</div>


<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="vlAte" ><a class="blue" href="javascript: logField('TabPrecosService','vlAte');"><strong>Até</strong></a></label>
  <input type="text" class="form-control" id="vlAte" name="vlAte"  th:field="*{vlAte}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="txTipoOperacao"><a class="blue" href="javascript: logField('TabPrecosService','txTipoOperacao');"><strong>Tipo Operação</strong></a></label>
  <input type="text" class="form-control" id="txTipoOperacao" name="txTipoOperacao"  th:field="*{txTipoOperacao}"/>
</div>
</div>


<!-- INPUT TEXT BIGDECIMAL -->
<div class="col-sm-2">
<div class="form-group">
  <label for="vlValor"><a class="blue" href="javascript: logField('TabPrecosService','vlValor');"><strong>Valor</strong></a></label>
  <input type="text" class="form-control textFloat" id="vlValor" name="vlValor"  th:field="*{vlValor}"/>
</div>
</div>




</div> 

</div> 
	<div class="modal-footer"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/tabelaprecos/gravarmodal}', '@{/tabelaprecos}', '#tabelaprecos', '#tabPrecosObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Tabela de Preços' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 

<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
   
	var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
    
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#tabelaprecos').modal('show'); 
 } 
//PermissÃµes 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 

 });
 /*]]>*/ 
</script> 
</section>
</html>
