<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

 <section layout:fragment="pagecontent" >


<div class="page-inner">
<div class="page-section">
<section id="base-style" class="card">
    <div class="card-body">
      <form id="tabFiltroUsuarioObj" method="get" th:action="@{/usuario}" th:object="${tabFiltroUsuarioObj}" >
        <fieldset>
<div class="row"> 
 <div class="col-sm-10"> 
  <header class="page-title-bar"> 
	<h5 class="page-title" th:text="${pathtela}">Nome da Tela</h5> 
  </header> 
  </div> 
  <div class="col-sm-2"> 
  <button type="button" class="btn btn-primary col-sm-5 float-right" th:onclick="|javascript: abrirtela('@{/usuario/novo}');|" > 
		<strong>Novo</strong>
   </button> 
  </div> 
</div> 
<nav class="navbar bg-primary main-menu-jtp">
<fieldset class="col-sm-12 jtp-fieldset">
	<legend class="jtp-legend">Filtros</legend>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">

<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txApelidoFiltro"><strong>Apelido</strong></label>
  <input type="text" class="form-control" id="txApelidoFiltro" name="txApelidoFiltro"  th:field="*{txApelidoFiltro}"/>
</div>
</div>


			</div>
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary col-sm-12">
						<strong>Pesquisar</strong>
					</button>
				</div>
		</div>
	</div>
</fieldset>
</nav>

<div class="row" > 
<div class="col-sm-12"> 
       <section class="card card-fluid"> 
         <div class="table-responsive"> 
           <table class="table table-hover"> 
             <thead class="jtp-bg-primary"> 
               <tr> 
                 <th style="min-width:100px"> Usuario </th> 
                 <th style="min-width:100px"> Ativo </th> 
                 <th style="min-width:100px"> Nome </th> 
                 <th style="min-width:100px"> Apelido </th> 
                 <th style="min-width:100px"> dtValidadeSenha </th> 
                 <th style="min-width:100px"> Email </th> 
               </tr> 
             </thead> 
             <tbody th:if="${#strings.isEmpty(mensagem)}"> 
				 <tr th:each="listdados : ${listadados.conteudo}" th:onclick="|javascript: abrirtela('@{/usuario/consultar}/${listdados.cdUsuario}?page=${listadados.atual}');|"> 
                 <td class="jtp-grid-td" th:text="${listdados.cdUsuario}"> cdUsuario </td> 
                 <td class="jtp-grid-td" th:text="${listdados.ckAtivo}"> ckAtivo </td> 
                 <td class="jtp-grid-td" th:text="${listdados.txNome}"> txNome </td> 
                 <td class="jtp-grid-td" th:text="${listdados.txApelido}"> txApelido </td> 
                 <td class="jtp-grid-td" th:text="${{listdados.dtValidadeSenha}}"> dtValidadeSenha </td> 
                 <td class="jtp-grid-td" th:text="${listdados.txEmail}"> txEmail </td> 
               </tr> 
             </tbody> 
           </table> 
			<div class="col-lg-4" th:if="${!#strings.isEmpty(mensagem)}">
			 <div class="form-group">
				<span class="jtp-span" th:text="${mensagem}"><strong>Não existe!</strong></span>
			 </div>
			</div>
         </div> 
		<ul class="pagination justify-content-center mt-4"
		 th:if="not ${!#strings.isEmpty(mensagem)}" th:with="paginaAtual=${listadados.atual}">
		  <li class="page-item" th:classappend="${listadados.primeira} ? disabled"><a class="page-link"
			th:href="${listadados.urlParaPagina(paginaAtual - 1)}" tabindex="-1"> <i
				class="fa fa-lg fa-angle-left"></i>
		    </a></li>
		  <th:block
			th:each="p : ${#numbers.sequence(1, listadados.total)}"
			th:with="numeroPagina=${p - 1}">
			<li class="page-item" th:classappend="${paginaAtual == numeroPagina} ? active">
				<a class="page-link" th:href="${listadados.urlParaPagina(numeroPagina)}" th:text="${numeroPagina + 1}">1</a>
			</li>
		  </th:block>
		  <li class="page-item" th:classappend="${listadados.ultima} ? disabled"><a class="page-link" th:href="${listadados.urlParaPagina(paginaAtual + 1)}">
				<i class="fa fa-lg fa-angle-right"></i>
		</a></li>
	</ul>
       </section> 
</div> 
</div> 
</fieldset> 
</form> 
<form id="tabUsuarioObj" method="post" th:action="@{/usuario}" th:object="${tabUsuarioObj}">
<div class="modal fade" id="usuario" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 
<!-- INPUT TEXT -->
  <input type="hidden" id="cdUsuario" name="cdUsuario"  th:field="*{cdUsuario}"/>


<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="ckAtivo"><a href="javascript: logField('TabUsuarioService','ckAtivo');"><strong>Ativo</strong></a></label>
	 <select class="custom-select" id="ckAtivo" th:field="*{ckAtivo}">
    <option value="">...</option>
    <option th:each="sckativo : ${selectckativo}" th:value="${sckativo.ckAtivo}" th:text="${sckativo.ckAtivo}"></option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txNome"><a href="javascript: logField('TabUsuarioService','txNome');"><strong>Nome</strong></a></label>
  <input type="text" class="form-control" id="txNome" name="txNome"  th:field="*{txNome}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txApelido"><a href="javascript: logField('TabUsuarioService','txApelido');"><strong>Apelido</strong></a></label>
  <input type="text" class="form-control" id="txApelido" name="txApelido"  th:field="*{txApelido}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txSenha"><a href="javascript: logField('TabUsuarioService','txSenha');"><strong>Senha</strong></a></label>
  <input type="text" class="form-control" id="txSenha" name="txSenha"  th:field="*{txSenha}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="dtValidadeSenha"><a href="javascript: logField('TabUsuarioService','dtValidadeSenha');"><strong>dtValidadeSenha</strong></a></label>
  <input type="text" class="form-control jtpDate" id="dtValidadeSenha" name="dtValidadeSenha"  th:field="*{dtValidadeSenha}" />
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txEmail"><a href="javascript: logField('TabUsuarioService','txEmail');"><strong>Email</strong></a></label>
  <input type="text" class="form-control" id="txEmail" name="txEmail"  th:field="*{txEmail}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="txTel"><a href="javascript: logField('TabUsuarioService','txTel');"><strong>Tel</strong></a></label>
  <input type="text" class="form-control" id="txTel" name="txTel"  th:field="*{txTel}"/>
</div>
</div>


<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="cdGrupoVisao"><a href="javascript: logField('TabUsuarioService','cdGrupoVisao');"><strong>GrupoVisao</strong></a></label>
	 <select class="custom-select" id="cdGrupoVisao" th:field="*{cdGrupoVisao}">
    <option value="">...</option>
    <option th:each="scdgrupovisao : ${selectcdgrupovisao}" th:value="${scdgrupovisao.cdGrupoVisao}" th:text="${scdgrupovisao.txGrupoVisao}"></option>
  </select>
 </div>
</div>

</div> 
</div> 
	<div class="modal-footer" th:with="varTxCampo=*{txApelido} == null ? '' : *{txApelido}"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/usuario/gravarmodal}', '@{/usuario}/?txApelidoFiltro=${varTxCampo}', '#usuario', '#tabUsuarioObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default" onclick="javascript: fechar();" >  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
</div> 
</section> 
</div> 
</div> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#usuario').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 
	
	
 });
 /*]]>*/ 

 	function fechar() {
		$("#usuario").modal("hide");
	}

 
 </script> 



</section>

    <script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>

</html>
