<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

 <section layout:fragment="pagecontent" >


<div class="page-inner">
<div class="page-section">
<section id="base-style" class="card">
    <div class="card-body">
      <form id="tabUsuarioObj" method="post" th:action="@{/usuario/gravar}" th:object="${tabUsuarioObj}" >
        <fieldset>
			<div class="row"> 
  				<div class="col-sm-12"> 
  					<button type="button" class="btn-voltar float-right" th:onclick="|javascript: abrirtela('@{/usuariopesquisa}');|" > 
						Voltar
					</button> 
  				</div> 
			</div>
			<section>
				<a th:href="@{/usuario/novo}" id="linkNovo">
					<button type="button" class="btn menu-usuario">
						<i class="fas fa-plus"></i>Novo
					</button>
				</a>
				<a href="javascript: gravar('tabUsuarioObj');" id="linkGravar">
					<button type="button" class="btn menu-usuario">
						<i class="fas fa-save"></i>Gravar
					</button>
				</a>
				<div class="form-group float-right" style="margin-top: 10px;">
                	<input type="text" class="form-control pesquisar" placeholder="Pesquisar" id="txPesquisar"/>
          		</div>
			</section>

<div class="row">
  <input type="hidden"  id="cdUsuario" name="cdUsuario"  th:field="*{cdUsuario}"/>


<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="ckAtivo"><a class="light-blue" href="javascript: logField('TabUsuarioService','ckAtivo');"><strong>Ativo</strong></a></label>
	 <select class="custom-select" id="ckAtivo" th:field="*{ckAtivo}">
    <option value="">...</option>
    <option value="1">SIM</option>
    <option value="2">NÃO</option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txNome"><a class="light-blue" href="javascript: logField('TabUsuarioService','txNome');"><strong>Nome</strong></a></label>
  <input type="text" class="form-control" id="txNome" name="txNome"  th:field="*{txNome}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txApelido"><a class="light-blue" href="javascript: logField('TabUsuarioService','txApelido');"><strong>Apelido</strong></a></label>
  <input type="text" class="form-control" id="txApelido" name="txApelido"  th:field="*{txApelido}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txSenha"><a class="light-blue" href="javascript: logField('TabUsuarioService','txSenha');"><strong>Senha</strong></a></label>
  <input type="password" class="form-control" id="txSenha" name="txSenha"  th:field="*{txSenha}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="dtValidadeSenha"><a class="light-blue" href="javascript: logField('TabUsuarioService','dtValidadeSenha');"><strong>Dt.Validade</strong></a></label>
  <input type="text" class="form-control jtpDate" id="dtValidadeSenha" name="dtValidadeSenha"  th:field="*{dtValidadeSenha}" />
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txEmail"><a class="light-blue" href="javascript: logField('TabUsuarioService','txEmail');"><strong>Email</strong></a></label>
  <input type="text" class="form-control" id="txEmail" name="txEmail"  th:field="*{txEmail}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="txTel"><a class="light-blue" href="javascript: logField('TabUsuarioService','txTel');"><strong>Telefone</strong></a></label>
  <input type="text" class="form-control" id="txTel" name="txTel"  th:field="*{txTel}"/>
</div>
</div>


<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="txSexo"><a class="light-blue" href="javascript: logField('TabUsuarioService','txSexo');"><strong>Sexo</strong></a></label>
	 <select class="custom-select" id="txSexo" th:field="*{txSexo}">
    <option value="">...</option>
    <option value="Feminino">Feminino</option>
	<option value="Masculino">Masculino</option>
  </select>
 </div>
</div>

<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="cdGrupoVisao"><a class="light-blue" href="javascript: logField('TabUsuarioService','cdGrupoVisao');"><strong>GrupoVisao</strong></a></label>
	 <select class="custom-select" id="cdGrupoVisao" th:field="*{cdGrupoVisao}">
    <option value="">...</option>
    <option th:each="scdgrupovisao : ${selectcdgrupovisao}" th:value="${scdgrupovisao.cdGrupoVisao}" th:text="${scdgrupovisao.txGrupoVisao}"></option>
  </select>
 </div>
</div>


</div>
      	</fieldset>
      </form>
    </div>
  	</section>
 </div>
</div>

<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 
	 $(document).ready(function() {	
 	var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 

	var pathUrl = /*[[@{/}]]*/; 

	 });
 /*]]>*/ 
</script> 
</section>

</html>
