<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

 <section layout:fragment="pagecontent" >


<div class="page-inner">
<div class="page-section">
<section id="base-style" class="card">
    <div class="card-body">
      <form id="tabUsuarioObj" method="get" th:action="@{/usuariopesquisa}" th:object="${tabUsuarioObj}" >
        <fieldset>
<div class="row"> 
 <div class="col-sm-10"> 
  <header class="page-title-bar"> 
	<h5 class="page-title" th:text="${pathtela}">Nome da Tela</h5> 
  </header> 
  </div> 
  <div class="col-sm-2"> 
  		<button type="button" class="btn btn-primary col-sm-5 float-right" th:onclick="|javascript: abrirtela('@{/usuario/novo}');|" > 
			<strong>Novo</strong>
		</button> 
  </div> 
</div> 
<nav class="navbar blue">
<fieldset class="col-sm-12 jtp-fieldset">
	<legend class="blue">Filtros</legend>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">

<!-- INPUT TEXT -->
	<div class="col-sm-4">
		<div class="form-group">
  			<label for="txApelidoFiltro" class="light-blue"><strong>Apelido</strong></label>
  			<input type="text" class="form-control" id="txApelidoFiltro" name="txApelidoFiltro"  th:field="*{txApelidoFiltro}"/>
		</div>
	</div>

		<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;">
			<strong>Pesquisar</strong>
		</button>

		</div>
		</div>
	</div>
</fieldset>
</nav>

<div class="row" > 
<div class="col-sm-12"> 
       <section class="card card-fluid"> 
         <div class="table-responsive"> 
           <table class="table table-hover"> 
             <thead class="blue"> 
               <tr> 
                 <th class="bold"> Ativo? </th> 
                 <th class="bold"> Nome </th> 
                 <th class="bold"> Apelido </th> 
                 <th class="bold"> Dt.Validade </th> 
                 <th class="bold"> Email </th> 
               </tr> 
             </thead> 
             <tbody th:if="${#strings.isEmpty(mensagem)}"> 
               <tr th:each="listusuario : ${listadados.conteudo}" th:onclick="|javascript: abrirtela('@{/usuario/consultar}/${listusuario.cdUsuario}');|">
                 <td class="blue" th:text="${listusuario.ckAtivo} == 1 ? 'SIM' : 'NÃO'"> ckAtivo </td> 
                 <td class="blue" th:text="${listusuario.txNome}"> txNome </td> 
                 <td class="blue" th:text="${listusuario.txApelido}"> txApelido </td> 
                 <td class="blue" th:text="${{listusuario.dtValidadeSenha}}"> dtValidadeSenha </td> 
                 <td class="blue" th:text="${listusuario.txEmail}"> txEmail </td> 
               </tr> 
             </tbody> 
           </table> 
			<div class="col-lg-4" th:if="${!#strings.isEmpty(mensagem)}">
			 <div class="form-group">
				<span class="jtp-span" th:text="${mensagem}"><strong>Não existe!</strong></span>
			 </div>
			</div>
         </div> 
		<ul class="pagination justify-content-center mt-4"
		 th:if="not ${!#strings.isEmpty(mensagem)}" th:with="paginaAtual=${listadados.atual}">
		  <li class="page-item" th:classappend="${listadados.primeira} ? disabled"><a class="page-link"
			th:href="${listadados.urlParaPagina(paginaAtual - 1)}" tabindex="-1"> <i
				class="fa fa-lg fa-angle-left"></i>
		    </a></li>
		  <th:block
			th:each="p : ${#numbers.sequence(1, listadados.total)}"
			th:with="numeroPagina=${p - 1}">
			<li class="page-item" th:classappend="${paginaAtual == numeroPagina} ? active">
				<a class="page-link" th:href="${listadados.urlParaPagina(numeroPagina)}" th:text="${numeroPagina + 1}">1</a>
			</li>
		  </th:block>
		  <li class="page-item" th:classappend="${listadados.ultima} ? disabled"><a class="page-link" th:href="${listadados.urlParaPagina(paginaAtual + 1)}">
				<i class="fa fa-lg fa-angle-right"></i>
		</a></li>
	</ul>
       </section> 
</div> 
</div> 
</fieldset> 
</form> 
</div> 
</section> 
</div> 
</div> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	  $(document).ready(function() {	
 var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 


 });
 /*]]>*/ 
</script> 
</section>

</html>
