<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" >


<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}" />
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    GoHosp - Sulamerica
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <!-- CSS Files -->
  <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/assets/css/now-ui-dashboard.css?v=1.4.1}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
  <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
</head>

<body class="login-page sidebar-mini" style="overflow-y: hidden;">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>      
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page ">
    <div class="full-page login-page section-image" filter-color="black" th:style="|background-image: url('@{/assets/img/background-go-hosp-login.jpg}');|">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="content">
        <div class="container">
          <div class="col-md-4 ml-auto mr-auto">
            <form class="form" id="login" name="login" th:action="@{/login}" method="post">
              <div class="card card-login card-plain">
                <div class="card-header ">
                  <div class="logo-container">
                    <img class="img-fluid" th:src="@{/assets/img/logotipo-gohosp-white.png}" alt="" />
                  </div>
                </div>
                <div class="card-body ">
                  <div class="input-group no-border form-control-lg">
                    <span class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                      </div>
                    </span>
                    <input style="color: #fff!important; border: none!important;" type="email" id="username" name="username" class="form-control" placeholder="Email..." />
                  </div>
                  <div class="input-group no-border form-control-lg">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="now-ui-icons ui-1_lock-circle-open"></i>
                      </div>
                    </div>
                    <input style="color: #fff!important; border: none!important;" type="password" id="password" name="password" placeholder="Password..." class="form-control" />
                  </div>
                </div>
                <h6 class="margin-twenty">
                      <a href="#pablo" class="link footer-link">Esqueceu a senha</a>
                </h6>
                <div class="card-footer ">
                  <a href="javascript: login();" class="btn bkg-light-blue white btn-round btn-lg btn-block mb-3">Entrar</a>
                  <div class="pull-left">
                    
                  </div>                  
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script th:src="@{/assets/js/core/jquery.min.js}"></script>
  <script th:src="@{/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
  <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>
  <!--  Plugin for Sweet Alert -->
  <script th:src="@{/assets/js/plugins/sweetalert2.min.js}"></script>
  <!-- Forms Validations Plugin -->
  <script th:src="@{/assets/js/plugins/jquery.validate.min.js}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script th:src="@{/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script th:src="@{/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script th:src="@{/assets/js/plugins/jquery.dataTables.min.js}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script th:src="@{/assets/js/plugins/bootstrap-tagsinput.js}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script th:src="@{/assets/js/plugins/jasny-bootstrap.min.js}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script th:src="@{/assets/js/plugins/fullcalendar.min.js}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script th:src="@{/assets/js/plugins/jquery-jvectormap.js}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script th:src="@{/assets/js/plugins/nouislider.min.js}"></script>
  <!-- Chart JS -->
  <script th:src="@{/assets/js/plugins/chartjs.min.js}"></script>
  <!--  Notifications Plugin    -->
  <script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{/assets/js/now-ui-dashboard.min.js?v=1.4.1}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script th:src="@{/assets/demo/demo.js}"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
    
    $(document).keypress(function (event) {
    	if(event.keyCode === 13) {
    		login();
    	}
    });
    
    function login() {
    	$( "#login" ).submit();
    }
    
  </script>
</body>

</html>